Repository badele/nix-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, docupdate, check-secrets, deno-fmt, deno-lint

nixpkgs-fmt:
  name: nixpkgs-fmt
  description: Format nix code with nixpkgs-fmt.
  language: system
  entry: nixpkgs-fmt
  stages:
  - commit

docupdate:
  name: docupdate
  description: Update documentation.
  language: system
  entry: just doc-update
  stages:
  - commit

check-secrets:
  name: check-test-age-public-key
  description: Check test age public key
  language: python
  entry: ./.pre-commit-scripts/check-public-test-age-key.py
  stages:
  - commit

deno-fmt:
  name: deno-fmt
  description: Format deno code with deno fmt.
  language: system
  entry: deno fmt
  stages:
  - commit

deno-lint:
  name: deno-lint
  description: Lint deno code with deno lint.
  language: system
  entry: deno lint
  stages:
  - commit

Add 1 git-crypt collaborator
  .git-crypt/.gitattributes
  .git-crypt/keys/default/0/00F421C4C5377BA39820E13F6B95E13DE469CC5D.gpg
Due: none

feat(homelab): add coredns and xxxarr
  homelab.json
  hosts/b4d14/default.nix
  hosts/badele.nix
  hosts/badxps/configfiles/qbittorrent/watched_folders.json
  hosts/badxps/default.nix
  hosts/badxps/secretfiles/.gitattributes
  hosts/badxps/secretfiles/flexget/config.nix
  hosts/badxps/services/torrent.nix
  hosts/badxps/services/traefik.nix
  hosts/bootstore/default.nix
  hosts/demovm/default.nix
  hosts/hype16/default.nix
  hosts/iso/default.nix
  hosts/rpi40/default.nix
  hosts/sadhome/default.nix
  hosts/srvhoma/default.nix
  nix/home-manager/features/desktop/apps/google-chrome.nix
  nix/home-manager/features/term/security/pass.nix
  nix/modules/nixos/default.nix
  nix/modules/nixos/qbittorrent-nox.nix
  nix/nixos/features/commons/networking.nix
  nix/nixos/roles/coredns.nix
  shell.nix
Due: nixpkgs-fmt

feat: Update b4d14 host
  flake.nix
  hosts/b4d14/default.nix
  hosts/badxps/default.nix
Due: nixpkgs-fmt

feat: Update b4d14 host (#16)
  flake.nix
  hosts/b4d14/default.nix
  hosts/badxps/default.nix
Due: nixpkgs-fmt

feat(badxps): add Radarr service and update configurations
  hosts/badxps/default.nix
  hosts/badxps/services/torrent.nix
  hosts/badxps/services/traefik.nix
Due: nixpkgs-fmt

feat(badxps): add Radarr service and update configurations (#17)
  hosts/badxps/default.nix
  hosts/badxps/services/torrent.nix
  hosts/badxps/services/traefik.nix
Due: nixpkgs-fmt

feat(hosts/b4d14): configure Docker to use ZFS storage driver
  hosts/b4d14/default.nix
Due: nixpkgs-fmt

feat(hosts/b4d14): configure Docker to use ZFS storage driver (#18)
  hosts/b4d14/default.nix
Due: nixpkgs-fmt

feat: add Aider integration and update development configurations
  .gitignore
  CONVENTIONS.md
  README.md
  nix/home-manager/apps/development/aider.nix
  nix/home-manager/apps/development/packages.nix
  nix/home-manager/features/term/tools/user-scripts/src/my-aider
  nix/home-manager/features/term/tools/user-scripts/src/my-aider-models
  users/badele/b4d14.nix
  users/badele/commons.nix
Due: nixpkgs-fmt, docupdate

feat: add Aider integration and update development configurations (#19)
  .gitignore
  CONVENTIONS.md
  README.md
  nix/home-manager/apps/development/aider.nix
  nix/home-manager/apps/development/packages.nix
  nix/home-manager/features/term/tools/user-scripts/src/my-aider
  nix/home-manager/features/term/tools/user-scripts/src/my-aider-models
  users/badele/b4d14.nix
  users/badele/commons.nix
Due: nixpkgs-fmt, docupdate

feat(home-manager): add Neovim configuration and language support
  nix/home-manager/apps/editor/neovim.nix
  nix/home-manager/features/language/all.nix
  nix/home-manager/features/language/ansible.nix
  nix/home-manager/features/language/bash.nix
  nix/home-manager/features/language/d2.nix
  nix/home-manager/features/language/javascript.nix
  nix/home-manager/features/language/latex.nix
  nix/home-manager/features/language/ledger.nix
  nix/home-manager/features/language/lua.nix
  nix/home-manager/features/language/markdown.nix
  nix/home-manager/features/language/nix.nix
  nix/home-manager/features/language/openscad.nix
  nix/home-manager/features/language/python.nix
  nix/home-manager/features/language/scala.nix
  nix/home-manager/features/language/terraform.nix
  nix/home-manager/features/language/yaml.nix
  users/badele/b4d14.nix
  users/badele/badxps.nix
  users/badele/commons.nix
Due: nixpkgs-fmt

feat(home-manager): add Neovim configuration and language support (#20)
  nix/home-manager/apps/editor/neovim.nix
  nix/home-manager/features/language/all.nix
  nix/home-manager/features/language/ansible.nix
  nix/home-manager/features/language/bash.nix
  nix/home-manager/features/language/d2.nix
  nix/home-manager/features/language/javascript.nix
  nix/home-manager/features/language/latex.nix
  nix/home-manager/features/language/ledger.nix
  nix/home-manager/features/language/lua.nix
  nix/home-manager/features/language/markdown.nix
  nix/home-manager/features/language/nix.nix
  nix/home-manager/features/language/openscad.nix
  nix/home-manager/features/language/python.nix
  nix/home-manager/features/language/scala.nix
  nix/home-manager/features/language/terraform.nix
  nix/home-manager/features/language/yaml.nix
  users/badele/b4d14.nix
  users/badele/badxps.nix
  users/badele/commons.nix
Due: nixpkgs-fmt

feat(home-manager): add kdash to cloud apps
  nix/home-manager/apps/cloud/aws.nix
Due: nixpkgs-fmt

feat(aider): update model configuration to use Gemini 2.5 Flash Preview
  hosts/b4d14/default.nix
  nix/home-manager/apps/development/aider.nix
  nix/home-manager/features/language/ansible.nix
  nix/home-manager/features/language/bash.nix
  nix/home-manager/features/language/d2.nix
  nix/home-manager/features/language/javascript.nix
  nix/home-manager/features/language/openscad.nix
  nix/home-manager/features/language/scala.nix
  nix/home-manager/features/language/terraform.nix
  nix/home-manager/features/language/yaml.nix
  nix/home-manager/features/term/tools/user-scripts/src/my-aider
  users/badele/b4d14.nix
  users/badele/badxps.nix
Due: nixpkgs-fmt

feat: Add grouping just commands
  .pre-commit-scripts/updatedoc.ts
  README.md
  docs/commands.png
  justfile
  shell.nix
Due: nixpkgs-fmt, docupdate, deno-fmt, deno-lint

feat(docs): add detailed Neovim configuration documentation
  README.md
  docs/nvim/README.md
  docs/nvim/Readme.md
  docs/nvim/help.txt
Due: docupdate

fix(docs): README.md minor change
  README.md
Due: docupdate

fix(docs): update broken links in README.md
  README.md
  docs/aider/README.md
  docs/aider/aider.png
Due: docupdate

fix(docs): correct image path in README
  docs/aider/README.md
Due: none

fix(docs): update broken links in README.md (#21)
  README.md
  docs/aider/README.md
  docs/aider/aider.png
Due: docupdate

refactor(nixos/homelab): consolidate domain and networks modules into homelab.nix
  nix/modules/nixos/homelab/default.nix
  nix/modules/nixos/homelab/domain.nix
  nix/modules/nixos/homelab/homelab.nix
  nix/modules/nixos/homelab/hosts.nix
  nix/modules/nixos/homelab/networks.nix
Due: nixpkgs-fmt

feat: add NetBox and homepage services, update WireGuard configuration
  CONVENTIONS.md
  docs/hosts/cab1e/README.md
  docs/netbox/README.md
  flake.lock
  hosts/badxps/default.nix
  hosts/badxps/secrets.yml
  hosts/badxps/services/netbox.nix
  hosts/cab1e/default.nix
  hosts/cab1e/secrets.yml
  nix/home-manager/apps/networking.nix
  nix/modules/nixos/homelab/homelab.nix
  nix/modules/nixos/homelab/hosts.nix
Due: nixpkgs-fmt, check-secrets

fix(readme): correct HTML table structure in service list
  README.md
Due: docupdate

feat(borgbackup): enhance backup and restore functionality
  README.md
  docs/borgbackup/README.md
  homelab.json
  nix/home-manager/features/term/tools/user-scripts/src/my-gpg-backup-keys
  nix/home-manager/features/term/tools/user-scripts/src/my-psql-restore
  nix/nixos/features/commons/borgbackup.nix
  nix/nixos/features/commons/default.nix
  nix/nixos/roles/netbox.nix
Due: nixpkgs-fmt, docupdate

docs: add NetBox interface image to README
  docs/netbox/README.md
  docs/netbox/netbox.png
Due: none

feat: improve README formatting and update VSCode configuration
  README.md
  nix/home-manager/features/desktop/apps/development/vscode.nix
Due: nixpkgs-fmt, docupdate

feat: improve README formatting and update VSCode configuration (#23)
  README.md
  nix/home-manager/features/desktop/apps/development/vscode.nix
Due: nixpkgs-fmt, docupdate

feat(linkding): add Linkding bookmark manager integration
  README.md
  configuration/hosts/badxps/default.nix
  configuration/hosts/badxps/secrets.yml
  configuration/hosts/secrets.yml
  configuration/users/badele/firefox.nix
  docs/borgbackup/README.md
  docs/linkding/README.md
  docs/linkding/linkding.png
  docs/netbox/README.md
  nix/nixos/features/system/containers.nix
  nix/nixos/roles/default.nix
  nix/nixos/roles/linkding.nix
Due: nixpkgs-fmt, docupdate, check-secrets

feat(linkding): add Linkding bookmark manager integration (#24)
  README.md
  configuration/hosts/badxps/default.nix
  configuration/hosts/badxps/secrets.yml
  configuration/hosts/secrets.yml
  configuration/users/badele/firefox.nix
  docs/borgbackup/README.md
  docs/linkding/README.md
  docs/linkding/linkding.png
  docs/netbox/README.md
  nix/nixos/features/system/containers.nix
  nix/nixos/roles/default.nix
  nix/nixos/roles/linkding.nix
Due: nixpkgs-fmt, docupdate, check-secrets

feat: updated main homelab domain
  configuration/hosts/badxps/secrets.yml
  docs/hosts/rpi40.md
  docs/nix-serve.md
  docs/zigbee2mqtt.md
  homelab.json
  nix/nixos/features/commons/networking.nix
  nix/nixos/roles/grafana/dashboards/smokeping.json
  nix/nixos/roles/linkding.nix
  nix/nixos/roles/nix-serve.nix
  nix/nixos/roles/zigbee2mqtt.nix
Due: nixpkgs-fmt, check-secrets

feat: updated main homelab domain (#25)
  configuration/hosts/badxps/secrets.yml
  docs/hosts/rpi40.md
  docs/nix-serve.md
  docs/zigbee2mqtt.md
  homelab.json
  nix/nixos/features/commons/networking.nix
  nix/nixos/roles/grafana/dashboards/smokeping.json
  nix/nixos/roles/linkding.nix
  nix/nixos/roles/nix-serve.nix
  nix/nixos/roles/zigbee2mqtt.nix
Due: nixpkgs-fmt, check-secrets

feat(netbox): add netbox-topology-views plugin
  docs/netbox/README.md
  nix/nixos/roles/netbox.nix
Due: nixpkgs-fmt

feat(netbox): add netbox-topology-views plugin (#26)
  docs/netbox/README.md
  nix/nixos/roles/netbox.nix
Due: nixpkgs-fmt

feat(homelab): add Hype10 host configuration and update networking setup
  .sops.yaml
  configuration/hosts/badxps/default.nix
  configuration/hosts/badxps/host-information.nix
  configuration/hosts/hosts-information.nix
  configuration/hosts/hype10/default.nix
  configuration/hosts/hype10/disks.nix
  configuration/hosts/hype10/hardware-configuration.nix
  configuration/hosts/hype10/host-information.nix
  configuration/hosts/hype10/secrets.yml
  configuration/hosts/hype10/ssh-to-age.txt
  configuration/hosts/hype10/ssh_host_ed25519_key.pub
  configuration/hosts/hype10/ssh_host_rsa_key.pub
  configuration/hosts/hype16/default.nix
  configuration/hosts/secrets.yml
  configuration/users/badele/badxps.nix
  configuration/users/badele/hype10.nix
  configuration/users/root/hype10.nix
  flake.nix
  homelab.json
  nix/modules/nixos/homelab/default.nix
  nix/modules/nixos/homelab/homelab.nix
  nix/modules/nixos/homelab/hosts.nix
  nix/modules/nixos/homelab/lib.nix
  nix/modules/nixos/homelab/networks.nix
  nix/nixos/features/commons/networking.nix
Due: nixpkgs-fmt, check-secrets

Update vars via generator linkding for machine houston
  vars/per-machine/houston/linkding/admin-credentials/machines/houston
  vars/per-machine/houston/linkding/admin-credentials/secret
  vars/per-machine/houston/linkding/admin-credentials/users/badele
  vars/per-machine/houston/linkding/oauth2-client-secret/machines/houston
  vars/per-machine/houston/linkding/oauth2-client-secret/secret
  vars/per-machine/houston/linkding/oauth2-client-secret/users/badele
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  docupdate: any of: ^README\.md$
  check-secrets: any of: secrets\.yml$
  deno-fmt: any of: \.ts$
  deno-lint: any of: \.ts$
