Repository badele/nix-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, docupdate, check-secrets, deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        language: system
        entry: nixpkgs-fmt
        files: \.nix$
        stages:
          - commit
      - id: docupdate
        name: docupdate
        description: Update documentation.
        language: system
        entry: just doc-update
        stages:
          - commit
        files: ^README\.md$
      - id: check-secrets
        name: check-test-age-public-key
        description: Check test age public key
        language: python
        entry: ./.pre-commit-scripts/check-public-test-age-key.py
        stages:
          - commit
        files: secrets\.yml$
      - id: deno-fmt
        name: deno-fmt
        description: Format deno code with deno fmt.
        language: system
        entry: deno fmt
        stages:
          - commit
        files: \.ts$
      - id: deno-lint
        name: deno-lint
        description: Lint deno code with deno lint.
        language: system
        entry: deno lint
        stages:
          - commit
        files: \.ts$

secrets: fix vars for badxps
  vars/shared/wifi.homestreet/password/machines/badxps
  vars/shared/wifi.homestreet/password/secret
Due: none

machines/badxps/facter.json: update hardware configuration
  machines/badxps/facter.json
Due: none

inventory.json: update install time of badxps
  inventory.json
Due: none

machines/badxps/hardware-configuration.nix: update hardware configuration
  machines/badxps/hardware-configuration.nix
Due: nixpkgs-fmt

feat: update audio engine
  flake.nix
  machines/airlock/configuration.nix
  machines/badxps/configuration.nix
  machines/flake-module.nix
  modules/home-manager/desktop/apps/audio/pipewire.nix
  modules/home-manager/desktop/apps/audio/pulseaudio.nix
  modules/home-manager/desktop/apps/base.nix
  modules/home-manager/desktop/apps/musics.nix
  modules/home-manager/desktop/apps/offices.nix
  modules/home-manager/term/packages/sysadmin.nix
  modules/nixos/base.nix
  modules/nixos/desktop/apps/base.nix
  modules/nixos/system/audio.nix
  users/badele/base.nix
  users/badele/desktop.nix
  users/badele/system.nix
  users/loadele/base.nix
Due: nixpkgs-fmt

feat: update audio & graphic applications
  modules/home-manager/desktop/apps/audio/pipewire.nix
  modules/home-manager/desktop/apps/audio/pulseaudio.nix
  modules/home-manager/desktop/apps/graphics.nix
  modules/home-manager/desktop/apps/musics.nix
Due: nixpkgs-fmt

feat: add @fastfetch-hidden-sensitive
  modules/home-manager/term/tools/zsh.nix
Due: nixpkgs-fmt

feat: move some flake files
  flake.nix
  flake/overlays/default.nix
  flake/packages/flake-module.nix
  flake/packages/wallpapers/default.nix
  flake/packages/wallpapers/from_album.sh
  flake/packages/wallpapers/list.nix
  flake/packages/wallpapers/single_image.sh
  flake/packages/wallpapers/wallpaper.nix
  flake/shells/flake-module.nix
  modules/home-manager/term/tools/zsh.nix
  modules/nixos/base.nix
Due: nixpkgs-fmt

feat: use flakes instead flake
  flake.nix
  flakes/overlays/default.nix
  flakes/packages/flake-module.nix
  flakes/packages/wallpapers/default.nix
  flakes/packages/wallpapers/from_album.sh
  flakes/packages/wallpapers/list.nix
  flakes/packages/wallpapers/single_image.sh
  flakes/packages/wallpapers/wallpaper.nix
  flakes/shells/flake-module.nix
  modules/nixos/base.nix
Due: nixpkgs-fmt

feat: move some flake files (#84)
  flake.nix
  flakes/overlays/default.nix
  flakes/packages/flake-module.nix
  flakes/packages/wallpapers/default.nix
  flakes/packages/wallpapers/from_album.sh
  flakes/packages/wallpapers/list.nix
  flakes/packages/wallpapers/single_image.sh
  flakes/packages/wallpapers/wallpaper.nix
  flakes/shells/flake-module.nix
  modules/home-manager/term/tools/zsh.nix
  modules/nixos/base.nix
Due: nixpkgs-fmt

feat: update btrfs snapshot configuration (btrbk)
  machines/badxps/disko.nix
  modules/home-manager/desktop/apps/base.nix
Due: nixpkgs-fmt

feat: update btrfs snapshot configuration (btrbk) (#85)
  machines/badxps/disko.nix
  modules/home-manager/desktop/apps/base.nix
Due: nixpkgs-fmt

feat: add typst language
  modules/home-manager/term/development/language/all.nix
  modules/home-manager/term/development/language/typst.nix
Due: nixpkgs-fmt

fix: typst configuration
  modules/home-manager/term/development/language/typst.nix
Due: nixpkgs-fmt

Feat/add typst language (#86)
  modules/home-manager/term/development/language/all.nix
  modules/home-manager/term/development/language/typst.nix
Due: nixpkgs-fmt

feat: add hangar16 virtualization node
  inventory.json
  machines/airlock/configuration.nix
  machines/flake-module.nix
  machines/hangar16/configuration.nix
  machines/hangar16/disko.nix
  machines/hangar16/facter.json
  modules/home-manager/term/packages/networking.nix
  modules/home-manager/term/tools/zsh.nix
  modules/nixos/base.nix
  modules/nixos/homelab/default.nix
  modules/nixos/system/network.nix
  sops/machines/hangar16/key.json
  sops/secrets/hangar16-age.key/secret
  sops/secrets/hangar16-age.key/users/badele
  templates/disko/btrfs-single-disk-subvolumes/README.md
  templates/disko/btrfs-single-disk-subvolumes/default.nix
  templates/flake-module.nix
  vars/per-machine/hangar16/emergency-access/password-hash/value
  vars/per-machine/hangar16/emergency-access/password/secret
  vars/per-machine/hangar16/emergency-access/password/users/badele
  vars/per-machine/hangar16/openssh-cert/.validation-hash
  vars/per-machine/hangar16/openssh-cert/ssh.id_ed25519-cert.pub/value
  vars/per-machine/hangar16/openssh/ssh.id_ed25519.pub/value
  vars/per-machine/hangar16/openssh/ssh.id_ed25519/machines/hangar16
  vars/per-machine/hangar16/openssh/ssh.id_ed25519/secret
  vars/per-machine/hangar16/openssh/ssh.id_ed25519/users/badele
  vars/per-machine/hangar16/state-version/version/value
  vars/per-machine/hangar16/tor_tor/hostname/machines/hangar16
  vars/per-machine/hangar16/tor_tor/hostname/secret
  vars/per-machine/hangar16/tor_tor/hostname/users/badele
  vars/per-machine/hangar16/tor_tor/hs_ed25519_secret_key/machines/hangar16
  vars/per-machine/hangar16/tor_tor/hs_ed25519_secret_key/secret
  vars/per-machine/hangar16/tor_tor/hs_ed25519_secret_key/users/badele
  vars/per-machine/hangar16/user-password-root/user-password-hash/machines/hangar16
  vars/per-machine/hangar16/user-password-root/user-password-hash/secret
  vars/per-machine/hangar16/user-password-root/user-password-hash/users/badele
  vars/per-machine/hangar16/user-password-root/user-password/secret
  vars/per-machine/hangar16/user-password-root/user-password/users/badele
  vars/shared/user-password-badele/user-password-hash/machines/hangar16
  vars/shared/user-password-badele/user-password-hash/secret
Due: nixpkgs-fmt

migrate: move zerotier vars to all-shared layout
  vars/per-machine/gagarin/zerotier/zerotier-identity-secret/machines/gagarin
  vars/per-machine/gagarin/zerotier/zerotier-identity-secret/secret
  vars/per-machine/gagarin/zerotier/zerotier-identity-secret/users/badele
  vars/per-machine/gagarin/zerotier/zerotier-ip/value
  vars/shared/zerotier-controller/zerotier-identity-secret/machines/houston
  vars/shared/zerotier-controller/zerotier-identity-secret/secret
  vars/shared/zerotier-controller/zerotier-identity-secret/users/badele
  vars/shared/zerotier-controller/zerotier-ip/value
  vars/shared/zerotier-controller/zerotier-network-id/value
Due: none

feat: add proxmox feature
  docs/ADD-MACHINE.md
  flake.lock
  flake.nix
  machines/hangar16/configuration.nix
  modules/nixos/features/proxmox/default.nix
  modules/nixos/system/sshd.nix
Due: nixpkgs-fmt

feat: update documentation
  README.md
  docs/all-features.md
  docs/features/acme.md
  docs/features/authelia.md
  docs/features/blocky.md
  docs/features/caddy.md
  docs/features/miniflux.md
  docs/features/tailscale.md
  justfile
  modules/nixos/features/proxmox/default.nix
Due: nixpkgs-fmt, docupdate

machines/hangar16/facter.json: update hardware configuration
  machines/hangar16/facter.json
Due: none

inventory.json: update install time of hangar16
  inventory.json
Due: none

fix: minor fix
  machines/hangar16/facter.json
  modules/home-manager/desktop/apps/gtk.nix
  modules/home-manager/term/apps/emacs.nix
  modules/home-manager/term/development/aws.nix
Due: nixpkgs-fmt

Fix: minor fix (#88)
  inventory.json
  machines/hangar16/facter.json
  modules/home-manager/desktop/apps/gtk.nix
  modules/home-manager/term/apps/emacs.nix
  modules/home-manager/term/development/aws.nix
Due: nixpkgs-fmt

feat: add brightness tool
  modules/home-manager/desktop/apps/audio/pipewire.nix
  modules/home-manager/desktop/xorg/base.nix
  modules/home-manager/desktop/xorg/dunst.nix
  modules/home-manager/desktop/xorg/wm/i3.nix
  modules/home-manager/term/tools/user-scripts/default.nix
  modules/home-manager/term/tools/user-scripts/src/@brightness
  modules/home-manager/term/tools/user-scripts/src/@mixer
  modules/home-manager/term/tools/user-scripts/src/homelab_library.sh
Due: nixpkgs-fmt

feat: add brightness tool (#89)
  modules/home-manager/desktop/apps/audio/pipewire.nix
  modules/home-manager/desktop/xorg/base.nix
  modules/home-manager/desktop/xorg/dunst.nix
  modules/home-manager/desktop/xorg/wm/i3.nix
  modules/home-manager/term/tools/user-scripts/default.nix
  modules/home-manager/term/tools/user-scripts/src/@brightness
  modules/home-manager/term/tools/user-scripts/src/@mixer
  modules/home-manager/term/tools/user-scripts/src/homelab_library.sh
Due: nixpkgs-fmt

vars: update via generator user-password-sadele (shared)
  vars/shared/user-password-sadele/user-password-hash/secret
  vars/shared/user-password-sadele/user-password/secret
Due: none

vars: update via generator user-password-loadele (shared)
  vars/shared/user-password-loadele/user-password-hash/secret
  vars/shared/user-password-loadele/user-password/secret
Due: none

Feat/update airlock account (#90)
  vars/shared/user-password-loadele/user-password-hash/secret
  vars/shared/user-password-loadele/user-password/secret
  vars/shared/user-password-sadele/user-password-hash/secret
  vars/shared/user-password-sadele/user-password/secret
Due: none

vars: update via generator private_dns_api_key (shared)
  vars/shared/private_dns_api_key/acme_api_key/machines/constellation
  vars/shared/private_dns_api_key/acme_api_key/machines/hangar16
  vars/shared/private_dns_api_key/acme_api_key/secret
  vars/shared/private_dns_api_key/acme_api_key/users/badele
Due: none

vars: update via generator public_dns_api_key (shared)
  vars/shared/public_dns_api_key/acme_api_key/machines/houston
  vars/shared/public_dns_api_key/acme_api_key/secret
  vars/shared/public_dns_api_key/acme_api_key/users/badele
Due: none

vars: update via generator grafana (machine: hangar16)
  vars/per-machine/hangar16/grafana/admin_password/machines/hangar16
  vars/per-machine/hangar16/grafana/admin_password/secret
  vars/per-machine/hangar16/grafana/admin_password/users/badele
  vars/per-machine/hangar16/grafana/secret_key/machines/hangar16
  vars/per-machine/hangar16/grafana/secret_key/secret
  vars/per-machine/hangar16/grafana/secret_key/users/badele
Due: none

vars: update via generator acme-dns-01-private (shared)
  vars/shared/acme-dns-01-private/envfile/machines/constellation
  vars/shared/acme-dns-01-private/envfile/machines/hangar16
  vars/shared/acme-dns-01-private/envfile/secret
  vars/shared/acme-dns-01-private/envfile/users/badele
Due: none

vars: update via generator acme-dns-01-public (shared)
  vars/shared/acme-dns-01-public/envfile/machines/houston
  vars/shared/acme-dns-01-public/envfile/secret
  vars/shared/acme-dns-01-public/envfile/users/badele
Due: none
