Repository badele/nix-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, docupdate, check-secrets, deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        language: system
        entry: nixpkgs-fmt
        files: \.nix$
        stages:
          - commit
      - id: docupdate
        name: docupdate
        description: Update documentation.
        language: system
        entry: just doc-update
        stages:
          - commit
        files: ^README\.md$
      - id: check-secrets
        name: check-test-age-public-key
        description: Check test age public key
        language: python
        entry: ./.pre-commit-scripts/check-public-test-age-key.py
        stages:
          - commit
        files: secrets\.yml$
      - id: deno-fmt
        name: deno-fmt
        description: Format deno code with deno fmt.
        language: system
        entry: deno fmt
        stages:
          - commit
        files: \.ts$
      - id: deno-lint
        name: deno-lint
        description: Lint deno code with deno lint.
        language: system
        entry: deno lint
        stages:
          - commit
        files: \.ts$

machines: add hangar16-vm
  machines/hangar16-vm/configuration.nix
Due: nixpkgs-fmt

vars: update via generator emergency-access (machine: hangar16-vm)
  vars/per-machine/hangar16-vm/emergency-access/password-hash/value
  vars/per-machine/hangar16-vm/emergency-access/password/secret
  vars/per-machine/hangar16-vm/emergency-access/password/users/badele
Due: none

secrets: update hangar16-vm-age.key
  sops/secrets/hangar16-vm-age.key/secret
  sops/secrets/hangar16-vm-age.key/users/badele
Due: none

secrets: add machine hangar16-vm
  sops/machines/hangar16-vm/key.json
Due: none

vars: update via generator grafana (machine: hangar16-vm)
  vars/per-machine/hangar16-vm/grafana/admin_password/machines/hangar16-vm
  vars/per-machine/hangar16-vm/grafana/admin_password/secret
  vars/per-machine/hangar16-vm/grafana/admin_password/users/badele
  vars/per-machine/hangar16-vm/grafana/secret_key/machines/hangar16-vm
  vars/per-machine/hangar16-vm/grafana/secret_key/secret
  vars/per-machine/hangar16-vm/grafana/secret_key/users/badele
Due: none

vars: update via generator openssh (machine: hangar16-vm)
  vars/per-machine/hangar16-vm/openssh/ssh.id_ed25519.pub/value
  vars/per-machine/hangar16-vm/openssh/ssh.id_ed25519/machines/hangar16-vm
  vars/per-machine/hangar16-vm/openssh/ssh.id_ed25519/secret
  vars/per-machine/hangar16-vm/openssh/ssh.id_ed25519/users/badele
Due: none

vars: update via generator state-version (machine: hangar16-vm)
  vars/per-machine/hangar16-vm/state-version/version/value
Due: none

vars: update via generator tor_tor (machine: hangar16-vm)
  vars/per-machine/hangar16-vm/tor_tor/hostname/machines/hangar16-vm
  vars/per-machine/hangar16-vm/tor_tor/hostname/secret
  vars/per-machine/hangar16-vm/tor_tor/hostname/users/badele
  vars/per-machine/hangar16-vm/tor_tor/hs_ed25519_secret_key/machines/hangar16-vm
  vars/per-machine/hangar16-vm/tor_tor/hs_ed25519_secret_key/secret
  vars/per-machine/hangar16-vm/tor_tor/hs_ed25519_secret_key/users/badele
Due: none

vars: update via generator user-password-root (machine: hangar16-vm)
  vars/per-machine/hangar16-vm/user-password-root/user-password-hash/machines/hangar16-vm
  vars/per-machine/hangar16-vm/user-password-root/user-password-hash/secret
  vars/per-machine/hangar16-vm/user-password-root/user-password-hash/users/badele
  vars/per-machine/hangar16-vm/user-password-root/user-password/secret
  vars/per-machine/hangar16-vm/user-password-root/user-password/users/badele
Due: none

vars: update via generator openssh-cert (machine: hangar16-vm)
  vars/per-machine/hangar16-vm/openssh-cert/.validation-hash
  vars/per-machine/hangar16-vm/openssh-cert/ssh.id_ed25519-cert.pub/value
Due: none

secrets: fix vars for hangar16-vm
  vars/shared/private_dns_api_key/acme_api_key/machines/hangar16-vm
  vars/shared/private_dns_api_key/acme_api_key/secret
Due: none

secrets: fix vars for hangar16-vm
  vars/shared/user-password-badele/user-password-hash/machines/hangar16-vm
  vars/shared/user-password-badele/user-password-hash/secret
Due: none

secrets: fix vars for hangar16-vm
  vars/shared/acme-dns-01-private/envfile/machines/hangar16-vm
  vars/shared/acme-dns-01-private/envfile/secret
Due: none

feat: add network briges to badxps laptop
  machines/badxps/configuration.nix
Due: nixpkgs-fmt

feat: add inteface listening selection
  flake.lock
  justfile
  machines/constellation/configuration.nix
  machines/flake-module.nix
  machines/hangar16-vm/configuration.nix
  machines/hangar16/configuration.nix
  modules/nixos/features/acme/default.nix
  modules/nixos/features/authelia/default.nix
  modules/nixos/features/authentik/default.nix
  modules/nixos/features/blocky/default.nix
  modules/nixos/features/caddy/default.nix
  modules/nixos/features/dokuwiki/default.nix
  modules/nixos/features/gatus/default.nix
  modules/nixos/features/goaccess/default.nix
  modules/nixos/features/grafana/default.nix
  modules/nixos/features/grist/default.nix
  modules/nixos/features/homepage-dashboard/default.nix
  modules/nixos/features/it-tools/default.nix
  modules/nixos/features/kanidm/default.nix
  modules/nixos/features/linkding/default.nix
  modules/nixos/features/lldap/default.nix
  modules/nixos/features/miniflux/default.nix
  modules/nixos/features/pawtunes/default.nix
  modules/nixos/features/proxmox/default.nix
  modules/nixos/features/radio/default.nix
  modules/nixos/features/shaarli/default.nix
  modules/nixos/features/victoriametrics/default.nix
  modules/nixos/features/wastebin/default.nix
  modules/nixos/features/zitadel/default.nix
  modules/nixos/homelab/default.nix
  modules/nixos/homelab/helpers.nix
Due: nixpkgs-fmt

inventory.json: update install time of constellation
  inventory.json
Due: none

feat: add VLANs interfaces on sysops laptop
  machines/badxps/configuration.nix
  machines/constellation/configuration.nix
  machines/constellation/disko.nix
  machines/constellation/facter.json
  machines/flake-module.nix
  machines/hangar16-vm/configuration.nix
  machines/hangar16/configuration.nix
  machines/houston/configuration.nix
  modules/nixos/features/blocky/default.nix
  modules/nixos/features/openssh/default.nix
  modules/nixos/homelab/default.nix
Due: nixpkgs-fmt

vars: update via generator mikrotik (machine: constellation)
  vars/per-machine/constellation/mikrotik/age.key/machines/constellation
  vars/per-machine/constellation/mikrotik/age.key/secret
  vars/per-machine/constellation/mikrotik/age.key/users/badele
  vars/per-machine/constellation/mikrotik/age.pub/value
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519.pub/value
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519/machines/constellation
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519/secret
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519/users/badele
Due: none

vars: update via generator mikrotik (machine: constellation)
  vars/per-machine/constellation/mikrotik/age.key/secret
  vars/per-machine/constellation/mikrotik/age.pub/value
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519.pub/value
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519/secret
Due: none

feat: add mikrotik tools (routers backup)
  README.md
  docs/all-features.md
  docs/features/mikrotik.md
  machines/constellation/configuration.nix
  modules/nixos/features/mikrotik/backup-script.nix
  modules/nixos/features/mikrotik/default.nix
  modules/nixos/features/mikrotik/list-backup-script.nix
  modules/nixos/features/mikrotik/restore-backup-script.nix
Due: nixpkgs-fmt, docupdate

feat: update documentation icons
  README.md
Due: docupdate

vars: update via generator mikrotik (machine: constellation)
  vars/per-machine/constellation/mikrotik/age.key/secret
  vars/per-machine/constellation/mikrotik/age.pub/value
  vars/per-machine/constellation/mikrotik/prometheus_routeros/machines/constellation
  vars/per-machine/constellation/mikrotik/prometheus_routeros/secret
  vars/per-machine/constellation/mikrotik/prometheus_routeros/users/badele
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519.pub/value
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519/secret
Due: none

vars: update via generator mikrotik (machine: constellation)
  vars/per-machine/constellation/mikrotik/age.key/secret
  vars/per-machine/constellation/mikrotik/age.pub/value
  vars/per-machine/constellation/mikrotik/prometheus_credentials/machines/constellation
  vars/per-machine/constellation/mikrotik/prometheus_credentials/secret
  vars/per-machine/constellation/mikrotik/prometheus_credentials/users/badele
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519.pub/value
  vars/per-machine/constellation/mikrotik/ssh.id_ed25519/secret
Due: none

feat: add graphana dashboards (mikrotik, victoriametrics)
  docs/features/mikrotik.md
  docs/imgs/mikrotik.png
  machines/constellation/configuration.nix
  modules/nixos/features/grafana/default.nix
  modules/nixos/features/mikrotik/default.nix
  modules/nixos/features/mikrotik/grafana_dashboard.json
  modules/nixos/features/vector/default.nix
  modules/nixos/features/vector/rules/cef.nix
  modules/nixos/features/vector/rules/cef_mikrotik_firewall.nix
  modules/nixos/features/vector/rules/cef_mikrotik_login.nix
  modules/nixos/features/vector/rules/victorialogs.nix
  modules/nixos/features/victorialogs/default.nix
  modules/nixos/features/victorialogs/grafana_dashboard.json
  modules/nixos/features/victoriametrics/grafana_dashboard.json
  modules/nixos/homelab/default.nix
  vars/per-machine/constellation/mikrotik/prometheus_routeros/machines/constellation
  vars/per-machine/constellation/mikrotik/prometheus_routeros/secret
  vars/per-machine/constellation/mikrotik/prometheus_routeros/users/badele
Due: nixpkgs-fmt

feat: add some vector mikrotik CEF format
  README.md
  docs/all-features.md
  docs/features/authentik.md
  docs/features/mikrotik.md
  machines/constellation/configuration.nix
  modules/nixos/features/authentik/default.nix
  modules/nixos/features/mikrotik/grafana_dashboard.json
  modules/nixos/features/openssh/default.nix
  modules/nixos/features/vector/default.nix
  modules/nixos/features/vector/grafana_dashboard.json
  modules/nixos/features/vector/rules/cef_mikrotik_dhcp.nix
  modules/nixos/features/vector/rules/cef_mikrotik_firewall.nix
  modules/nixos/features/vector/rules/cef_mikrotik_login.nix
  modules/nixos/homelab/default.nix
Due: nixpkgs-fmt, docupdate

feat: add mikrotik dashboard
  modules/nixos/features/blocky/default.nix
  modules/nixos/features/blocky/grafana/dashboards/blocky.json
  modules/nixos/features/grafana/default.nix
  modules/nixos/features/mikrotik/default.nix
  modules/nixos/features/mikrotik/grafana/dashboards/dhcp.json
  modules/nixos/features/mikrotik/grafana/dashboards/mikrotik.json
  modules/nixos/features/mikrotik/grafana/dashboards/radio.json
  modules/nixos/features/vector/default.nix
  modules/nixos/features/vector/grafana/dashboards/vector.json
  modules/nixos/features/victorialogs/default.nix
  modules/nixos/features/victorialogs/grafana/dashboards/victorialogs.json
  modules/nixos/features/victoriametrics/default.nix
  modules/nixos/features/victoriametrics/grafana/dashboards/victoriametrics.json
  modules/nixos/homelab/default.nix
  modules/nixos/homelab/helpers.nix
Due: nixpkgs-fmt

feat: update mikrotik dashboard
  modules/nixos/features/mikrotik/grafana/dashboards/clients.json
  modules/nixos/features/mikrotik/grafana/dashboards/mikrotik.json
  modules/nixos/features/mikrotik/grafana/dashboards/radio.json
Due: none

feat: add binding dhcp name from MAC address
  docs/features/mikrotik.md
  docs/features/victorialogs.md
  docs/features/victoriametrics.md
  docs/imgs/mikrotik.png
  docs/imgs/victorialogs.webp
  docs/imgs/victoriametrics.webp
  docs/victoriametrics.md
  machines/constellation/configuration.nix
  machines/houston/README.md
  modules/nixos/features/blocky/grafana/dashboards/blocky.json
  modules/nixos/features/grafana/default.nix
  modules/nixos/features/mikrotik/default.nix
  modules/nixos/features/mikrotik/grafana/dashboards/clients.json
  modules/nixos/features/mikrotik/grafana/dashboards/mikrotik.json
  modules/nixos/features/mikrotik/grafana/dashboards/radio.json
  modules/nixos/features/vector/grafana/dashboards/vector.json
  modules/nixos/features/victoriametrics/default.nix
  modules/nixos/homelab/default.nix
Due: nixpkgs-fmt

feat: add binding dhcp name from MAC address (#93)
  docs/features/mikrotik.md
  docs/features/victorialogs.md
  docs/features/victoriametrics.md
  docs/imgs/mikrotik.png
  docs/imgs/victorialogs.webp
  docs/imgs/victoriametrics.webp
  docs/victoriametrics.md
  machines/constellation/configuration.nix
  machines/houston/README.md
  modules/nixos/features/blocky/grafana/dashboards/blocky.json
  modules/nixos/features/grafana/default.nix
  modules/nixos/features/mikrotik/default.nix
  modules/nixos/features/mikrotik/grafana/dashboards/clients.json
  modules/nixos/features/mikrotik/grafana/dashboards/mikrotik.json
  modules/nixos/features/mikrotik/grafana/dashboards/radio.json
  modules/nixos/features/vector/grafana/dashboards/vector.json
  modules/nixos/features/victoriametrics/default.nix
  modules/nixos/homelab/default.nix
Due: nixpkgs-fmt

machines: add cab1e
  machines/cab1e/configuration.nix
Due: nixpkgs-fmt

vars: update via generator emergency-access (machine: cab1e)
  vars/per-machine/cab1e/emergency-access/password-hash/value
  vars/per-machine/cab1e/emergency-access/password/secret
  vars/per-machine/cab1e/emergency-access/password/users/badele
Due: none

secrets: update cab1e-age.key
  sops/secrets/cab1e-age.key/secret
  sops/secrets/cab1e-age.key/users/badele
Due: none

secrets: add machine cab1e
  sops/machines/cab1e/key.json
Due: none

vars: update via generator openssh (machine: cab1e)
  vars/per-machine/cab1e/openssh/ssh.id_ed25519.pub/value
  vars/per-machine/cab1e/openssh/ssh.id_ed25519/machines/cab1e
  vars/per-machine/cab1e/openssh/ssh.id_ed25519/secret
  vars/per-machine/cab1e/openssh/ssh.id_ed25519/users/badele
Due: none

vars: update via generator state-version (machine: cab1e)
  vars/per-machine/cab1e/state-version/version/value
Due: none

vars: update via generator tor_tor (machine: cab1e)
  vars/per-machine/cab1e/tor_tor/hostname/machines/cab1e
  vars/per-machine/cab1e/tor_tor/hostname/secret
  vars/per-machine/cab1e/tor_tor/hostname/users/badele
  vars/per-machine/cab1e/tor_tor/hs_ed25519_secret_key/machines/cab1e
  vars/per-machine/cab1e/tor_tor/hs_ed25519_secret_key/secret
  vars/per-machine/cab1e/tor_tor/hs_ed25519_secret_key/users/badele
Due: none

vars: update via generator user-password-root (machine: cab1e)
  vars/per-machine/cab1e/user-password-root/user-password-hash/machines/cab1e
  vars/per-machine/cab1e/user-password-root/user-password-hash/secret
  vars/per-machine/cab1e/user-password-root/user-password-hash/users/badele
  vars/per-machine/cab1e/user-password-root/user-password/secret
  vars/per-machine/cab1e/user-password-root/user-password/users/badele
Due: none

vars: update via generator openssh-cert (machine: cab1e)
  vars/per-machine/cab1e/openssh-cert/.validation-hash
  vars/per-machine/cab1e/openssh-cert/ssh.id_ed25519-cert.pub/value
Due: none
