Repository badele/nix-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, docupdate, check-secrets, deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        language: system
        entry: nixpkgs-fmt
        files: \.nix$
        stages:
          - commit
      - id: docupdate
        name: docupdate
        description: Update documentation.
        language: system
        entry: just doc-update
        stages:
          - commit
        files: ^README\.md$
      - id: check-secrets
        name: check-test-age-public-key
        description: Check test age public key
        language: python
        entry: ./.pre-commit-scripts/check-public-test-age-key.py
        stages:
          - commit
        files: secrets\.yml$
      - id: deno-fmt
        name: deno-fmt
        description: Format deno code with deno fmt.
        language: system
        entry: deno fmt
        stages:
          - commit
        files: \.ts$
      - id: deno-lint
        name: deno-lint
        description: Lint deno code with deno lint.
        language: system
        entry: deno lint
        stages:
          - commit
        files: \.ts$

Update vars via generator hedgedoc for machine houston
  vars/per-machine/houston/hedgedoc/digest-client-secret/secret
  vars/per-machine/houston/hedgedoc/envfile/secret
  vars/per-machine/houston/hedgedoc/oauth2-client-secret/secret
Due: none

feat: add vector and authelia refactoring
  machines/flake-module.nix
  machines/houston/configuration.nix
  machines/houston/modules/authelia.nix
  machines/houston/modules/linkding.nix
  machines/houston/modules/miniflux.nix
  machines/houston/modules/pawtunes/channels.php
  machines/houston/modules/pawtunes/fr.php
  machines/houston/modules/pawtunes/general.php
  machines/houston/modules/vector.nix
  machines/houston/modules/wikijs.nix
  modules/shared.nix
  modules/users/badele/gagarin.nix
  modules/users/badele/modules/qutebrowser.nix
Due: nixpkgs-fmt

Update vars via generator grafana for machine houston
  vars/per-machine/houston/grafana/admin_password/machines/houston
  vars/per-machine/houston/grafana/admin_password/secret
  vars/per-machine/houston/grafana/admin_password/users/badele
Due: none

Update vars via generator grafana for machine houston
  vars/per-machine/houston/grafana/adminPassword/machines/houston
  vars/per-machine/houston/grafana/adminPassword/secret
  vars/per-machine/houston/grafana/adminPassword/users/badele
  vars/per-machine/houston/grafana/secretKey/machines/houston
  vars/per-machine/houston/grafana/secretKey/secret
  vars/per-machine/houston/grafana/secretKey/users/badele
Due: none

Update vars via generator grafana for machine houston
  vars/per-machine/houston/grafana/admin_password/secret
  vars/per-machine/houston/grafana/secret_key/machines/houston
  vars/per-machine/houston/grafana/secret_key/secret
  vars/per-machine/houston/grafana/secret_key/users/badele
Due: none

Update vars via generator influxdb for machine houston
  vars/per-machine/houston/influxdb/admin_password/machines/houston
  vars/per-machine/houston/influxdb/admin_password/secret
  vars/per-machine/houston/influxdb/admin_password/users/badele
  vars/per-machine/houston/influxdb/token_key/machines/houston
  vars/per-machine/houston/influxdb/token_key/secret
  vars/per-machine/houston/influxdb/token_key/users/badele
Due: none

Update vars via generator influxdb for machine houston
  vars/per-machine/houston/influxdb/admin_password/secret
  vars/per-machine/houston/influxdb/telegraf_token_key/machines/houston
  vars/per-machine/houston/influxdb/telegraf_token_key/secret
  vars/per-machine/houston/influxdb/telegraf_token_key/users/badele
  vars/per-machine/houston/influxdb/token_key/secret
Due: none

Update vars via generator telegraf for machine houston
  vars/per-machine/houston/telegraf/telegraf_influxdb_token_key/machines/houston
  vars/per-machine/houston/telegraf/telegraf_influxdb_token_key/secret
  vars/per-machine/houston/telegraf/telegraf_influxdb_token_key/users/badele
Due: none

Update vars via generator telegraf for machine houston
  vars/per-machine/houston/telegraf/telegraf_influxdb_token_key/secret
Due: none

Update vars via generator telegraf for machine houston
  vars/per-machine/houston/telegraf/envfile/machines/houston
  vars/per-machine/houston/telegraf/envfile/secret
  vars/per-machine/houston/telegraf/envfile/users/badele
  vars/per-machine/houston/telegraf/token_key/machines/houston
  vars/per-machine/houston/telegraf/token_key/secret
  vars/per-machine/houston/telegraf/token_key/users/badele
Due: none

Update var telegraf/token_key for machine houston
  vars/per-machine/houston/telegraf/token_key/secret
Due: none

Update var telegraf/envfile for machine houston
  vars/per-machine/houston/telegraf/envfile/secret
Due: none

Update vars via generator grafana for machine houston
  vars/per-machine/houston/grafana/admin_password/secret
  vars/per-machine/houston/grafana/influxdb_token_key/machines/houston
  vars/per-machine/houston/grafana/influxdb_token_key/secret
  vars/per-machine/houston/grafana/influxdb_token_key/users/badele
  vars/per-machine/houston/grafana/secret_key/secret
Due: none

Update vars via generator telegraf for machine houston
  vars/per-machine/houston/telegraf/envfile/secret
  vars/per-machine/houston/telegraf/influxdb_token_key/machines/houston
  vars/per-machine/houston/telegraf/influxdb_token_key/secret
  vars/per-machine/houston/telegraf/influxdb_token_key/users/badele
Due: none

Update vars via generator grafana for machine houston
  vars/per-machine/houston/grafana/admin_password/secret
  vars/per-machine/houston/grafana/influxdb_token_key/secret
  vars/per-machine/houston/grafana/secret_key/secret
Due: none

Update var grafana/influxdb_token_key for machine houston
  vars/per-machine/houston/grafana/influxdb_token_key/secret
Due: none

Update vars via generator grafana-influxdb-token for machine houston
  vars/per-machine/houston/grafana-influxdb-token/token/machines/houston
  vars/per-machine/houston/grafana-influxdb-token/token/secret
  vars/per-machine/houston/grafana-influxdb-token/token/users/badele
Due: none

Update vars via generator prompts-grafana for machine houston
  vars/per-machine/houston/prompts-grafana/influxdb-token/machines/houston
  vars/per-machine/houston/prompts-grafana/influxdb-token/secret
  vars/per-machine/houston/prompts-grafana/influxdb-token/users/badele
Due: none

Update vars via generator prompts-telegraf for machine houston
  vars/per-machine/houston/prompts-telegraf/influxdb-token/machines/houston
  vars/per-machine/houston/prompts-telegraf/influxdb-token/secret
  vars/per-machine/houston/prompts-telegraf/influxdb-token/users/badele
Due: none

Update vars via generator telegraf for machine houston
  vars/per-machine/houston/telegraf/envfile/secret
  vars/per-machine/houston/telegraf/influxdb_token_key/secret
Due: none

feat(houston): add full observability stack (grafana, influxdb, telegraf, vector, victoriametrics, reaction)
  machines/houston/configuration.nix
  machines/houston/modules/grafana.nix
  machines/houston/modules/homepage-dashboard.nix
  machines/houston/modules/influxdb.nix
  machines/houston/modules/reaction.nix
  machines/houston/modules/telegraf/default.nix
  machines/houston/modules/telegraf/scripts/reaction-metrics.sh
  machines/houston/modules/vector.nix
  machines/houston/modules/vector/default.nix
  machines/houston/modules/vector/rules/iptables.nix
  machines/houston/modules/vector/rules/nginx_logs.nix
  machines/houston/modules/vector/rules/sshd.nix
  machines/houston/modules/vector/rules/victoriametrics.nix
  machines/houston/modules/victoriametrics.nix
  modules/shared.nix
  modules/system/reaction.nix
  overlays/default.nix
  vars/per-machine/houston/grafana-influxdb-token/token/machines/houston
  vars/per-machine/houston/grafana-influxdb-token/token/secret
  vars/per-machine/houston/grafana-influxdb-token/token/users/badele
  vars/per-machine/houston/grafana/adminPassword/machines/houston
  vars/per-machine/houston/grafana/adminPassword/secret
  vars/per-machine/houston/grafana/adminPassword/users/badele
  vars/per-machine/houston/grafana/secretKey/machines/houston
  vars/per-machine/houston/grafana/secretKey/secret
  vars/per-machine/houston/grafana/secretKey/users/badele
  vars/per-machine/houston/telegraf/telegraf_influxdb_token_key/machines/houston
  vars/per-machine/houston/telegraf/telegraf_influxdb_token_key/secret
  vars/per-machine/houston/telegraf/telegraf_influxdb_token_key/users/badele
  vars/per-machine/houston/telegraf/token_key/machines/houston
  vars/per-machine/houston/telegraf/token_key/secret
  vars/per-machine/houston/telegraf/token_key/users/badele
Due: nixpkgs-fmt

Update vars via generator lldap for machine houston
  vars/per-machine/houston/lldap/jwt-secret/machines/houston
  vars/per-machine/houston/lldap/jwt-secret/secret
  vars/per-machine/houston/lldap/jwt-secret/users/badele
  vars/per-machine/houston/lldap/key-seed/machines/houston
  vars/per-machine/houston/lldap/key-seed/secret
  vars/per-machine/houston/lldap/key-seed/users/badele
  vars/per-machine/houston/lldap/password/machines/houston
  vars/per-machine/houston/lldap/password/secret
  vars/per-machine/houston/lldap/password/users/badele
Due: none

Update vars via generator lldap for machine houston
  vars/per-machine/houston/lldap/envfile/machines/houston
  vars/per-machine/houston/lldap/envfile/secret
  vars/per-machine/houston/lldap/envfile/users/badele
  vars/per-machine/houston/lldap/jwt-secret/secret
  vars/per-machine/houston/lldap/password/secret
Due: none

Update vars via generator authelia for machine houston
  vars/per-machine/houston/authelia/gmail-application-password/secret
  vars/per-machine/houston/authelia/hmac-secret/secret
  vars/per-machine/houston/authelia/jwks-certificate/secret
  vars/per-machine/houston/authelia/jwks-private-key/secret
  vars/per-machine/houston/authelia/jwt-secret/secret
  vars/per-machine/houston/authelia/lldap-password/machines/houston
  vars/per-machine/houston/authelia/lldap-password/secret
  vars/per-machine/houston/authelia/lldap-password/users/badele
  vars/per-machine/houston/authelia/session-secret/secret
  vars/per-machine/houston/authelia/storage-encryption-key/secret
Due: none

Update vars via generator dokuwiki for machine houston
  vars/per-machine/houston/dokuwiki/digest-client-secret/machines/houston
  vars/per-machine/houston/dokuwiki/digest-client-secret/secret
  vars/per-machine/houston/dokuwiki/digest-client-secret/users/badele
  vars/per-machine/houston/dokuwiki/oauth2-client-secret/machines/houston
  vars/per-machine/houston/dokuwiki/oauth2-client-secret/secret
  vars/per-machine/houston/dokuwiki/oauth2-client-secret/users/badele
Due: none

feat: add some documentation
  README.md
  docs/acme.md
  docs/authelia.md
  docs/borgbackup.md
  docs/clan.md
  docs/dokuwiki.md
  docs/grafana.md
  docs/imgs/authelia.png
  docs/imgs/clan.png
  docs/imgs/dokuwiki.png
  docs/imgs/grafana.png
  docs/imgs/grafana_attacks_dashboard.png
  docs/imgs/homeassistant.png
  docs/imgs/linkding.png
  docs/imgs/neofetch_top.png
  docs/imgs/nixos.gif
  docs/linkding.md
  docs/linkding/README.md
  docs/lldap.md
  docs/reaction.md
  docs/vector.md
  docs/victoriametrics.md
  flake.lock
  flake.nix
  justfile
  machines/gagarin/README.md
  machines/houston/README.md
  machines/houston/README.md.old
  machines/houston/configuration.nix
  machines/houston/modules/authelia.nix
  machines/houston/modules/dokuwiki.nix
  machines/houston/modules/homepage-dashboard.nix
  machines/houston/modules/lldap.nix
  machines/houston/modules/mediawiki.nix
  machines/houston/modules/miniflux.nix
  machines/houston/modules/pawtunes.nix
  machines/houston/modules/shaarli.nix
  machines/houston/modules/wikijs.nix.disable
  modules/shared.nix
  shells/flake-module.nix
Due: nixpkgs-fmt, docupdate

feat: add missing files
  docs/hosts/houston/couch_diagram.excalidraw
  docs/hosts/houston/couch_diagram.svg
Due: none

feat: minor change
  README.md
  justfile
  machines/houston/README.md
Due: docupdate

Update vars via generator grafana for machine houston
  vars/per-machine/houston/grafana/admin_password/secret
  vars/per-machine/houston/grafana/digest-client-secret/machines/houston
  vars/per-machine/houston/grafana/digest-client-secret/secret
  vars/per-machine/houston/grafana/digest-client-secret/users/badele
  vars/per-machine/houston/grafana/oauth2-client-secret/machines/houston
  vars/per-machine/houston/grafana/oauth2-client-secret/secret
  vars/per-machine/houston/grafana/oauth2-client-secret/users/badele
  vars/per-machine/houston/grafana/secret_key/secret
Due: none

feat: Update grafana permissions
  docs/grafana.md
  docs/kanidm.md
  docs/nix.md
  machines/houston/README.md
  machines/houston/modules/authelia.nix
  machines/houston/modules/grafana.nix
Due: nixpkgs-fmt

Feat/grafana permission (#28)
  docs/grafana.md
  docs/kanidm.md
  docs/nix.md
  machines/houston/README.md
  machines/houston/modules/authelia.nix
  machines/houston/modules/grafana.nix
  vars/per-machine/houston/grafana/admin_password/secret
  vars/per-machine/houston/grafana/digest-client-secret/machines/houston
  vars/per-machine/houston/grafana/digest-client-secret/secret
  vars/per-machine/houston/grafana/digest-client-secret/users/badele
  vars/per-machine/houston/grafana/oauth2-client-secret/machines/houston
  vars/per-machine/houston/grafana/oauth2-client-secret/secret
  vars/per-machine/houston/grafana/oauth2-client-secret/users/badele
  vars/per-machine/houston/grafana/secret_key/secret
Due: nixpkgs-fmt

feat: pawtunes in rootless mode with podman
  machines/houston/modules/pawtunes.nix
Due: nixpkgs-fmt

feat: pawtunes in rootless mode with podman (#29)
  machines/houston/modules/pawtunes.nix
Due: nixpkgs-fmt

feat: add some addons firefox
  modules/users/badele/modules/firefox.nix
Due: nixpkgs-fmt

feat: add some addons firefox (#30)
  modules/users/badele/modules/firefox.nix
Due: nixpkgs-fmt

fix: pawtunes podman rootless
  machines/houston/modules/pawtunes.nix
Due: nixpkgs-fmt
