Repository badele/nix-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, docupdate, check-secrets, deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        language: system
        entry: nixpkgs-fmt
        files: \.nix$
        stages:
          - commit
      - id: docupdate
        name: docupdate
        description: Update documentation.
        language: system
        entry: just doc-update
        stages:
          - commit
        files: ^README\.md$
      - id: check-secrets
        name: check-test-age-public-key
        description: Check test age public key
        language: python
        entry: ./.pre-commit-scripts/check-public-test-age-key.py
        stages:
          - commit
        files: secrets\.yml$
      - id: deno-fmt
        name: deno-fmt
        description: Format deno code with deno fmt.
        language: system
        entry: deno fmt
        stages:
          - commit
        files: \.ts$
      - id: deno-lint
        name: deno-lint
        description: Lint deno code with deno lint.
        language: system
        entry: deno lint
        stages:
          - commit
        files: \.ts$

feat: upgrade 2026-03-29
  configuration/hosts/b4d14/default.nix
  configuration/hosts/badxps/default.nix
  configuration/hosts/badxps/secretfiles/flexget/config.nix
  configuration/hosts/bootstore/default.nix
  configuration/hosts/cab1e/default.nix
  configuration/hosts/demovm/default.nix
  configuration/hosts/hype10/default.nix
  configuration/hosts/rpi40/default.nix
  configuration/hosts/sadhome/default.nix
  configuration/hosts/sam/default.nix
  configuration/hosts/srvhoma/default.nix
  configuration/users/badele/commons.nix
  configuration/users/badele/rpi40.nix
  configuration/users/badele/sadhome.nix
  configuration/users/badele/srvhoma.nix
  configuration/users/badele/vm-test.nix
  configuration/users/demo/commons.nix
  configuration/users/root/b4d14.nix
  configuration/users/root/badxps.nix
  configuration/users/root/cab1e.nix
  configuration/users/root/demovm.nix
  configuration/users/root/hype10.nix
  configuration/users/root/srvhoma.nix
  configuration/users/sadele/commons.nix
  configuration/users/sadele/sadhome.nix
  flake.lock
  justfile
  machines/gagarin/configuration.nix
  modules/home-manager/shared/default.nix
  modules/home-manager/term/tools/neofetch.nix
  modules/home-manager/term/tools/zsh.nix
  modules/users/badele/gagarin.nix
  nix/home-manager/features/term/base.nix
  nix/home-manager/features/term/tools/neofetch.nix
  nix/home-manager/features/term/tools/zsh.nix
  nix/modules/nixos/default.nix
  nix/modules/nixos/uptime.nix
  nix/nixos/features/commons/packages.nix
  nix/nixos/roles/default.nix
  nix/nixos/roles/uptime.nix
Due: nixpkgs-fmt

feat: upgrade 2026-03-29 (#61)
  configuration/hosts/b4d14/default.nix
  configuration/hosts/badxps/default.nix
  configuration/hosts/badxps/secretfiles/flexget/config.nix
  configuration/hosts/bootstore/default.nix
  configuration/hosts/cab1e/default.nix
  configuration/hosts/demovm/default.nix
  configuration/hosts/hype10/default.nix
  configuration/hosts/rpi40/default.nix
  configuration/hosts/sadhome/default.nix
  configuration/hosts/sam/default.nix
  configuration/hosts/srvhoma/default.nix
  configuration/users/badele/commons.nix
  configuration/users/badele/rpi40.nix
  configuration/users/badele/sadhome.nix
  configuration/users/badele/srvhoma.nix
  configuration/users/badele/vm-test.nix
  configuration/users/demo/commons.nix
  configuration/users/root/b4d14.nix
  configuration/users/root/badxps.nix
  configuration/users/root/cab1e.nix
  configuration/users/root/demovm.nix
  configuration/users/root/hype10.nix
  configuration/users/root/srvhoma.nix
  configuration/users/sadele/commons.nix
  configuration/users/sadele/sadhome.nix
  flake.lock
  justfile
  machines/gagarin/configuration.nix
  modules/home-manager/shared/default.nix
  modules/home-manager/term/tools/neofetch.nix
  modules/home-manager/term/tools/zsh.nix
  modules/users/badele/gagarin.nix
  nix/home-manager/features/term/base.nix
  nix/home-manager/features/term/tools/neofetch.nix
  nix/home-manager/features/term/tools/zsh.nix
  nix/modules/nixos/default.nix
  nix/modules/nixos/uptime.nix
  nix/nixos/features/commons/packages.nix
  nix/nixos/roles/default.nix
  nix/nixos/roles/uptime.nix
Due: nixpkgs-fmt

fix: USB auto suspend
  configuration/hosts/badxps/hardware-configuration.nix
Due: nixpkgs-fmt

fix: update autosuspend timer value
  configuration/hosts/badxps/hardware-configuration.nix
Due: nixpkgs-fmt

fix: USB auto suspend (#62)
  configuration/hosts/badxps/hardware-configuration.nix
Due: nixpkgs-fmt

feat: update stdenv environment
  machines/gagarin/configuration.nix
  modules/home-manager/shared/default.nix
  nix/home-manager/features/term/base.nix
  nix/nixos/features/commons/packages.nix
Due: nixpkgs-fmt

feat: update stdenv environment (#63)
  machines/gagarin/configuration.nix
  modules/home-manager/shared/default.nix
  nix/home-manager/features/term/base.nix
  nix/nixos/features/commons/packages.nix
Due: nixpkgs-fmt

vars: update acme-dns-01/envfile for machine houston
  vars/per-machine/houston/acme-dns-01/envfile/secret
Due: none

feat: add emacs configuration
  configuration/users/badele/commons.nix
  modules/home-manager/term/apps/emacs.nix
  modules/home-manager/term/tools/zsh.nix
  modules/users/badele/gagarin.nix
  nix/home-manager/apps/editor/emacs.nix
  nix/home-manager/features/language/latex.nix
  nix/home-manager/features/language/markdown.nix
  nix/home-manager/features/language/nix.nix
  nix/home-manager/features/language/python.nix
  nix/home-manager/features/term/tools/zsh.nix
Due: nixpkgs-fmt

Feat/add emacs (#64)
  configuration/users/badele/commons.nix
  modules/home-manager/term/apps/emacs.nix
  modules/home-manager/term/tools/zsh.nix
  modules/users/badele/gagarin.nix
  nix/home-manager/apps/editor/emacs.nix
  nix/home-manager/features/language/latex.nix
  nix/home-manager/features/language/markdown.nix
  nix/home-manager/features/language/nix.nix
  nix/home-manager/features/language/python.nix
  nix/home-manager/features/term/tools/zsh.nix
  vars/per-machine/houston/acme-dns-01/envfile/secret
Due: nixpkgs-fmt

feat: update reaction configuration
  machines/houston/configuration.nix
  modules/system/reaction.nix
  overlays/default.nix
Due: nixpkgs-fmt

feat: update reaction configuration (#65)
  machines/houston/configuration.nix
  modules/system/reaction.nix
  overlays/default.nix
Due: nixpkgs-fmt

feat: add sweethome3d app
  nix/home-manager/apps/graphics.nix
  nix/home-manager/features/desktop/apps/gtk.nix
Due: nixpkgs-fmt

feat: add sweethome3d app (#66)
  nix/home-manager/apps/graphics.nix
  nix/home-manager/features/desktop/apps/gtk.nix
Due: nixpkgs-fmt

feat: remove firefox-wappalyzer-addon
  configuration/users/badele/badxps.nix
  configuration/users/badele/firefox.nix
Due: nixpkgs-fmt

feat: remove firefox-wappalyzer-addon (#67)
  configuration/users/badele/badxps.nix
  configuration/users/badele/firefox.nix
Due: nixpkgs-fmt

vars: update grafana/oauth2-client-secret for machine houston
  vars/per-machine/houston/grafana/oauth2-client-secret/secret
Due: none

Feat/upgrade 2026 04 01 (#68)
  machines/houston/configuration.nix
  modules/features/zitadel/default.nix
  modules/homelab/default.nix
  vars/per-machine/houston/dokuwiki/oauth2-client-secret/secret
  vars/per-machine/houston/gmail-apps-zitadel-password/token/machines/houston
  vars/per-machine/houston/gmail-apps-zitadel-password/token/secret
  vars/per-machine/houston/gmail-apps-zitadel-password/token/users/badele
  vars/per-machine/houston/grafana/oauth2-client-secret/secret
  vars/per-machine/houston/grafana/secret_key/secret
  vars/per-machine/houston/zitadel/adminAccount/value
  vars/per-machine/houston/zitadel/masterkey/machines/houston
  vars/per-machine/houston/zitadel/masterkey/secret
  vars/per-machine/houston/zitadel/masterkey/users/badele
  vars/per-machine/houston/zitadel/steps-secrets/machines/houston
  vars/per-machine/houston/zitadel/steps-secrets/secret
  vars/per-machine/houston/zitadel/steps-secrets/users/badele
Due: nixpkgs-fmt

feat: add zitadel service
  README.md
  docs/all-features.md
  docs/features/acme.md
  docs/features/blocky.md
  docs/features/kanidm.md
  docs/features/miniflux.md
  docs/features/radio.md
  docs/features/step-ca.md
  docs/features/tailscale.md
  docs/features/zitadel.html
  docs/features/zitadel.md
  justfile
  machines/houston/modules/grafana.nix
  modules/features/authentik/default.nix
  modules/features/kanidm/default.nix
  modules/features/linkding/default.nix
  modules/features/miniflux/default.nix
  modules/features/zitadel/default.nix
Due: nixpkgs-fmt, docupdate

feat: add zitadel service (#69)
  README.md
  docs/all-features.md
  docs/features/acme.md
  docs/features/blocky.md
  docs/features/kanidm.md
  docs/features/miniflux.md
  docs/features/radio.md
  docs/features/step-ca.md
  docs/features/tailscale.md
  docs/features/zitadel.html
  docs/features/zitadel.md
  justfile
  machines/houston/modules/grafana.nix
  modules/features/authentik/default.nix
  modules/features/kanidm/default.nix
  modules/features/linkding/default.nix
  modules/features/miniflux/default.nix
  modules/features/zitadel/default.nix
Due: nixpkgs-fmt, docupdate

feat: add some scripts
  docs/postgresql.md
  modules/home-manager/term/tools/user-scripts/src/@fix-psql-collation-version
  modules/home-manager/term/tools/user-scripts/src/@gitgrep.copy
  nix/home-manager/features/language/markdown.nix
  nix/nixos/features/commons/packages.nix
Due: nixpkgs-fmt

feat: add some scripts (#70)
  docs/postgresql.md
  modules/home-manager/term/tools/user-scripts/src/@fix-psql-collation-version
  modules/home-manager/term/tools/user-scripts/src/@gitgrep.copy
  nix/home-manager/features/language/markdown.nix
  nix/nixos/features/commons/packages.nix
Due: nixpkgs-fmt

feat: upgrade and fix firefox profiles
  configuration/users/badele/commons.nix
  configuration/users/badele/firefox.nix
  configuration/users/demo/commons.nix
  configuration/users/root/b4d14.nix
  configuration/users/root/badxps.nix
  configuration/users/root/cab1e.nix
  configuration/users/root/demovm.nix
  configuration/users/root/hype10.nix
  configuration/users/root/srvhoma.nix
  configuration/users/sadele/commons.nix
  flake.lock
  justfile
Due: nixpkgs-fmt

feat: upgrade and fix firefox profiles (#71)
  configuration/users/badele/commons.nix
  configuration/users/badele/firefox.nix
  configuration/users/demo/commons.nix
  configuration/users/root/b4d14.nix
  configuration/users/root/badxps.nix
  configuration/users/root/cab1e.nix
  configuration/users/root/demovm.nix
  configuration/users/root/hype10.nix
  configuration/users/root/srvhoma.nix
  configuration/users/sadele/commons.nix
  flake.lock
  justfile
Due: nixpkgs-fmt

feat: fix warning
  configuration/hosts/b4d14/default.nix
  configuration/hosts/badxps/hardware-configuration.nix
  configuration/users/badele/firefox.nix
  modules/home-manager/desktop/apps/chess.nix
  modules/home-manager/desktop/apps/gtk.nix
  modules/home-manager/shared/default.nix
  modules/home-manager/term/apps/neovim.nix
  modules/users/badele/modules/firefox.nix
  nix/home-manager/apps/editor/neovim.nix
  nix/home-manager/features/desktop/apps/gtk.nix
  nix/home-manager/features/term/base.nix
Due: nixpkgs-fmt

feat: fix warning (#72)
  configuration/hosts/b4d14/default.nix
  configuration/hosts/badxps/hardware-configuration.nix
  configuration/users/badele/firefox.nix
  modules/home-manager/desktop/apps/chess.nix
  modules/home-manager/desktop/apps/gtk.nix
  modules/home-manager/shared/default.nix
  modules/home-manager/term/apps/neovim.nix
  modules/users/badele/modules/firefox.nix
  nix/home-manager/apps/editor/neovim.nix
  nix/home-manager/features/desktop/apps/gtk.nix
  nix/home-manager/features/term/base.nix
Due: nixpkgs-fmt

vars: migrate zerotier controller for 'houston' from per-machine to shared
  vars/per-machine/houston/zerotier/zerotier-identity-secret/machines/houston
  vars/per-machine/houston/zerotier/zerotier-identity-secret/users/badele
  vars/shared/zerotier-controller/zerotier-identity-secret/machines/houston
  vars/shared/zerotier-controller/zerotier-identity-secret/secret
  vars/shared/zerotier-controller/zerotier-identity-secret/users/badele
  vars/shared/zerotier-controller/zerotier-ip/value
  vars/shared/zerotier-controller/zerotier-network-id/value
Due: none

feat: houston upgrade
  modules/features/acme/default.nix
Due: nixpkgs-fmt

feat: houston upgrade (#73)
  modules/features/acme/default.nix
Due: nixpkgs-fmt

feat: replace flameshot by ksnip
  modules/home-manager/desktop/xorg/wm/i3.nix
  nix/home-manager/features/desktop/xorg/wm/i3.nix
Due: nixpkgs-fmt

feat: add rectangle selection
  modules/home-manager/desktop/xorg/wm/i3.nix
  nix/home-manager/features/desktop/xorg/wm/i3.nix
Due: nixpkgs-fmt

feat: replace flameshot by ksnip (#74)
  modules/home-manager/desktop/xorg/wm/i3.nix
  nix/home-manager/features/desktop/xorg/wm/i3.nix
Due: nixpkgs-fmt

feat: add codex script
  modules/home-manager/term/tools/user-scripts/src/@codex
  nix/home-manager/features/term/tools/user-scripts/src/@codex
Due: none

feat: add codex script (#75)
  modules/home-manager/term/tools/user-scripts/src/@codex
  nix/home-manager/features/term/tools/user-scripts/src/@codex
Due: none

feat: update modules documentation
  README.md
  docs/all-features.md
  docs/features/authelia.md
  docs/features/authentik.md
  docs/features/caddy.md
  modules/features/authelia/default.nix
  modules/features/authentik/default.nix
Due: nixpkgs-fmt, docupdate

feat: update icon for radio application
  README.md
  docs/all-features.md
  docs/features/radio.md
  modules/features/radio/default.nix
Due: nixpkgs-fmt, docupdate

feat: update icon for radio application (#77)
  README.md
  docs/all-features.md
  docs/features/radio.md
  modules/features/radio/default.nix
Due: nixpkgs-fmt, docupdate
