Repository badele/nix-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, docupdate, check-secrets, deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        language: system
        entry: nixpkgs-fmt
        files: \.nix$
        stages:
          - commit
      - id: docupdate
        name: docupdate
        description: Update documentation.
        language: system
        entry: just doc-update
        stages:
          - commit
        files: ^README\.md$
      - id: check-secrets
        name: check-test-age-public-key
        description: Check test age public key
        language: python
        entry: ./.pre-commit-scripts/check-public-test-age-key.py
        stages:
          - commit
        files: secrets\.yml$
      - id: deno-fmt
        name: deno-fmt
        description: Format deno code with deno fmt.
        language: system
        entry: deno fmt
        stages:
          - commit
        files: \.ts$
      - id: deno-lint
        name: deno-lint
        description: Lint deno code with deno lint.
        language: system
        entry: deno lint
        stages:
          - commit
        files: \.ts$

fix: pawtunes podman rootless (#31)
  machines/houston/modules/pawtunes.nix
Due: nixpkgs-fmt

fix: reaction lint
  machines/houston/modules/reaction.nix
Due: nixpkgs-fmt

fix: reaction lint (#32)
  machines/houston/modules/reaction.nix
Due: nixpkgs-fmt

feat: linkding podman rootless
  machines/houston/modules/linkding.nix
Due: nixpkgs-fmt

feat: linkding podman rootless (#33)
  machines/houston/modules/linkding.nix
Due: nixpkgs-fmt

feat: dokuwiki in rootless mode with podman
  machines/houston/modules/dokuwiki.nix
Due: nixpkgs-fmt

feat: dokuwiki in rootless mode with podman (#34)
  machines/houston/modules/dokuwiki.nix
Due: nixpkgs-fmt

feat: shaarli in rootless mode with podman
  machines/houston/modules/shaarli.nix
Due: nixpkgs-fmt

feat: shaarli in rootless mode with podman (#35)
  machines/houston/modules/shaarli.nix
Due: nixpkgs-fmt

feat: lldap in rootless mode with podman
  machines/houston/modules/lldap.nix
Due: nixpkgs-fmt

feat: lldap in rootless mode with podman (#36)
  machines/houston/modules/lldap.nix
Due: nixpkgs-fmt

docs: update main README, update links
  README.md
Due: docupdate

docs: update main README, update links (#38)
  README.md
Due: docupdate

feat: fix bad links
  README.md
Due: docupdate

feat: fix bad links (#39)
  README.md
Due: docupdate

feat: update user scripts
  modules/home-manager/desktop/xorg/wm/i3.nix
  modules/home-manager/term/tools/user-scripts/src/@claude
  modules/home-manager/term/tools/user-scripts/src/@download-nixpkgs-cache-index
  modules/home-manager/term/tools/user-scripts/src/@gpg-backup-keys
  modules/home-manager/term/tools/user-scripts/src/@mixer
  modules/home-manager/term/tools/user-scripts/src/@navi
  modules/home-manager/term/tools/user-scripts/src/@psql-restore
  modules/home-manager/term/tools/user-scripts/src/@set-color-scheme-from-image
  modules/home-manager/term/tools/user-scripts/src/my-aider
  modules/home-manager/term/tools/user-scripts/src/my-aider-models
  modules/home-manager/term/tools/zsh.nix
  nix/home-manager/features/desktop/xorg/wm/i3.nix
  nix/nixos/features/commons/nix.nix
Due: nixpkgs-fmt

feat: update user scripts (#40)
  modules/home-manager/desktop/xorg/wm/i3.nix
  modules/home-manager/term/tools/user-scripts/src/@claude
  modules/home-manager/term/tools/user-scripts/src/@download-nixpkgs-cache-index
  modules/home-manager/term/tools/user-scripts/src/@gpg-backup-keys
  modules/home-manager/term/tools/user-scripts/src/@mixer
  modules/home-manager/term/tools/user-scripts/src/@navi
  modules/home-manager/term/tools/user-scripts/src/@psql-restore
  modules/home-manager/term/tools/user-scripts/src/@set-color-scheme-from-image
  modules/home-manager/term/tools/user-scripts/src/my-aider
  modules/home-manager/term/tools/user-scripts/src/my-aider-models
  modules/home-manager/term/tools/zsh.nix
  nix/home-manager/features/desktop/xorg/wm/i3.nix
  nix/nixos/features/commons/nix.nix
Due: nixpkgs-fmt

fix: user-scripts installation
  modules/home-manager/term/tools/user-scripts/default.nix
Due: nixpkgs-fmt

feat: upgrade clan disko configuration
  machines/gagarin/disko.nix
  machines/houston/disko.nix
Due: nixpkgs-fmt

feat: upgrade clan disko configuration (#41)
  machines/gagarin/disko.nix
  machines/houston/disko.nix
Due: nixpkgs-fmt

feat: update flake
  flake.lock
Due: none

feat: upgrade gagarin
  modules/home-manager/desktop/apps/fonts.nix
  modules/home-manager/desktop/xorg/wm/i3.nix
  modules/home-manager/term/packages/filesystem.nix
  modules/home-manager/term/stylix.nix
  modules/home-manager/term/tools/zsh.nix
Due: nixpkgs-fmt

feat: upgrade gagarin (#42)
  modules/home-manager/desktop/apps/fonts.nix
  modules/home-manager/desktop/xorg/wm/i3.nix
  modules/home-manager/term/packages/filesystem.nix
  modules/home-manager/term/stylix.nix
  modules/home-manager/term/tools/zsh.nix
Due: nixpkgs-fmt

feat: remove unused comments
  modules/features/blocky/default.nix
  modules/features/blocky/settings.nix
  modules/features/step-ca/default.nix
Due: nixpkgs-fmt

feat: Use full NixOS services with pinned version (optional)
  docs/ADD-MACHINE.md
  flake.lock
  flake.nix
  inventory.json
  machines/constellation/configuration.nix
  machines/gagarin/configuration.nix
  machines/houston/modules/it-tools.nix
  modules/features/blocky/default.nix
  modules/features/blocky/grafana_dashboard.json
  modules/features/blocky/settings.nix
  modules/features/default.nix
  modules/features/gatus/default.nix
  modules/features/grafana/default.nix
  modules/features/grafana/settings.nix
  modules/features/homelab-summary/default.nix
  modules/features/homepage-dashboard/default.nix
  modules/features/homepage/default.nix
  modules/features/podman-samples-applications/default.nix
  modules/features/step-ca/default.nix
  modules/features/step-ca/settings.nix
  modules/features/victoriametrics/default.nix
  modules/features/victoriametrics/vmagent.nix
  modules/flake-module.nix
  modules/homelab/default.nix
  modules/homelab/helpers.nix
  modules/shared.nix
  modules/system/reaction.nix
  modules/virtualisation/podman.nix
Due: nixpkgs-fmt

feat: add goaccess,pawtunes, wastebin modules
  machines/houston/configuration.nix
  machines/houston/modules/goaccess.nix
  machines/houston/modules/homepage-dashboard.nix
  machines/houston/modules/pawtunes.nix
  machines/houston/modules/wastebin.nix
  modules/features/blocky/default.nix
  modules/features/gatus/default.nix
  modules/features/goaccess/default.nix
  modules/features/grafana/default.nix
  modules/features/homepage-dashboard/default.nix
  modules/features/pawtunes/default.nix
  modules/features/podman-samples-applications/default.nix
  modules/features/step-ca/default.nix
  modules/features/victoriametrics/default.nix
  modules/features/wastebin/default.nix
  modules/homelab/default.nix
  modules/homelab/helpers.nix
Due: nixpkgs-fmt

docs: fix typo
  README.md
Due: docupdate

feat: update some documentations
  .gitignore
  .pre-commit-scripts/updatedoc.ts
  README.md
  docs/commands.png
  docs/features/acme.md
  docs/features/authentik.md
  docs/features/blocky.md
  docs/features/goaccess.md
  docs/features/grist.md
  docs/features/it-tools.md
  docs/features/linkding.md
  docs/features/lldap.md
  docs/features/pawtunes.md
  docs/features/radio.md
  docs/features/step-ca.md
  docs/imgs/authentik.png
  docs/imgs/blocky.png
  docs/imgs/goaccess.png
  docs/imgs/grist.png
  docs/imgs/it-tools.png
  docs/imgs/lldap.png
  docs/imgs/pawtunes.png
  docs/imgs/radio.png
  docs/linkding.md
  docs/lldap.md
  modules/features/acme/default.nix
  modules/features/homelab-summary/default.nix
  modules/features/it-tools/default.nix
  modules/features/pawtunes/default.nix
  modules/features/shaarli/default.nix
  modules/features/step-ca/default.nix
  modules/features/step-ca/settings.nix
  modules/homelab/default.nix
  modules/homelab/helpers.nix
Due: nixpkgs-fmt, docupdate, deno-fmt, deno-lint

feat: add missing all-features.md file
  docs/all-features.md
Due: none

Fix: icon radio path
  modules/features/radio/default.nix
Due: nixpkgs-fmt

feat: update radio documentation
  docs/all-features.md
  docs/features/radio.md
Due: none

feat: update pawtunes icon
  docs/all-features.md
  docs/features/pawtunes.md
  modules/features/pawtunes/default.nix
Due: nixpkgs-fmt

Update vars via generator prompt_acme_api_key for machine houston
  vars/per-machine/houston/prompt_acme_api_key/acme_api_key/machines/houston
  vars/per-machine/houston/prompt_acme_api_key/acme_api_key/secret
  vars/per-machine/houston/prompt_acme_api_key/acme_api_key/users/badele
Due: none

Update vars via generator acme-dns-01 for machine houston
  vars/per-machine/houston/acme-dns-01/envfile/machines/houston
  vars/per-machine/houston/acme-dns-01/envfile/secret
  vars/per-machine/houston/acme-dns-01/envfile/users/badele
Due: none

Update vars via generator acme-dns-01 for machine houston
  vars/per-machine/houston/acme-dns-01/envfile/secret
Due: none

Update vars via generator prompt_acme_api_key for machine houston
  vars/per-machine/houston/prompt_acme_api_key/acme_api_key/secret
Due: none

Update vars via generator authentik for machine houston
  vars/per-machine/houston/authentik/adminAccount/value
  vars/per-machine/houston/authentik/envfile/machines/houston
  vars/per-machine/houston/authentik/envfile/secret
  vars/per-machine/houston/authentik/envfile/users/badele
Due: none
