Repository badele/nix-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, docupdate, check-secrets, deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        language: system
        entry: nixpkgs-fmt
        files: \.nix$
        stages:
          - commit
      - id: docupdate
        name: docupdate
        description: Update documentation.
        language: system
        entry: just doc-update
        stages:
          - commit
        files: ^README\.md$
      - id: check-secrets
        name: check-test-age-public-key
        description: Check test age public key
        language: python
        entry: ./.pre-commit-scripts/check-public-test-age-key.py
        stages:
          - commit
        files: secrets\.yml$
      - id: deno-fmt
        name: deno-fmt
        description: Format deno code with deno fmt.
        language: system
        entry: deno fmt
        stages:
          - commit
        files: \.ts$
      - id: deno-lint
        name: deno-lint
        description: Lint deno code with deno lint.
        language: system
        entry: deno lint
        stages:
          - commit
        files: \.ts$

Update vars via generator prompt-authentik for machine houston
  vars/per-machine/houston/prompt-authentik/client-secret/machines/houston
  vars/per-machine/houston/prompt-authentik/client-secret/secret
  vars/per-machine/houston/prompt-authentik/client-secret/users/badele
Due: none

Update vars via generator miniflux for machine houston
  vars/per-machine/houston/miniflux/client-secret/machines/houston
  vars/per-machine/houston/miniflux/client-secret/secret
  vars/per-machine/houston/miniflux/client-secret/users/badele
  vars/per-machine/houston/miniflux/digest-client-secret/secret
  vars/per-machine/houston/miniflux/miniflux-env/secret
  vars/per-machine/houston/miniflux/oauth2-client-secret/secret
Due: none

feat: add miniflux homelab module
  README.md
  docs/all-features.md
  docs/features/authentik.md
  modules/features/authentik/default.nix
  modules/features/miniflux/default.nix
  modules/features/wastebin/default.nix
  modules/homelab/default.nix
Due: nixpkgs-fmt, docupdate

feat: add homelab authelia module
  README.md
  docs/all-features.md
  docs/authelia.md
  docs/features/authelia.md
  docs/features/miniflux.md
  docs/imgs/authelia.png
  machines/houston/configuration.nix
  machines/houston/modules/authelia.nix
  machines/houston/modules/it-tools.nix
  machines/houston/modules/linkding.nix
  machines/houston/modules/lldap.nix
  machines/houston/modules/mediawiki.nix
  machines/houston/modules/miniflux.nix
  machines/houston/modules/shaarli.nix
  machines/houston/modules/wikijs.nix.disable
  modules/features/authelia/default.nix
Due: nixpkgs-fmt, docupdate

feat: add homelab dokuwiki module
  README.md
  docs/all-features.md
  docs/dokuwiki.md
  docs/features/authelia.md
  docs/features/authentik.md
  docs/features/dokuwiki.md
  docs/features/lldap.md
  docs/features/pawtunes.md
  machines/houston/modules/dokuwiki.nix
  modules/features/authelia/default.nix
  modules/features/dokuwiki/default.nix
  modules/features/lldap/default.nix
  modules/features/pawtunes/default.nix
  modules/homelab/default.nix
Due: nixpkgs-fmt, docupdate

feat: remove project structure section
  README.md
Due: docupdate

feat: add homelab kanidm module
  README.md
  docs/all-features.md
  docs/features/kanidm.md
  docs/kanidm.md
  machines/constellation/configuration.nix
  machines/houston/configuration.nix
  modules/features/authelia/default.nix
  modules/features/kanidm/default.nix
  modules/homelab/default.nix
Due: nixpkgs-fmt, docupdate

feat: add OIDC for linkding homelab module
  docs/features/authentik.md
  docs/features/linkding.md
  modules/features/dokuwiki/default.nix
  modules/features/linkding/default.nix
Due: nixpkgs-fmt

feat: add OIDC for linkding homelab module (#46)
  docs/features/authentik.md
  docs/features/linkding.md
  modules/features/dokuwiki/default.nix
  modules/features/linkding/default.nix
Due: nixpkgs-fmt

feat: add homelab tailscale module
  README.md
  docs/all-features.md
  docs/features/tailscale.md
  machines/constellation/configuration.nix
  machines/gagarin/configuration.nix
  machines/houston/configuration.nix
  modules/features/tailscale/default.nix
  modules/system/tailscale.nix
  vars/per-machine/houston/tailscale/auth_key/machines/houston
  vars/per-machine/houston/tailscale/auth_key/secret
  vars/per-machine/houston/tailscale/auth_key/users/badele
Due: nixpkgs-fmt, docupdate

feat: add homelab tailscale module (#47)
  README.md
  docs/all-features.md
  docs/features/tailscale.md
  machines/constellation/configuration.nix
  machines/gagarin/configuration.nix
  machines/houston/configuration.nix
  modules/features/tailscale/default.nix
  modules/system/tailscale.nix
  vars/per-machine/houston/tailscale/auth_key/machines/houston
  vars/per-machine/houston/tailscale/auth_key/secret
  vars/per-machine/houston/tailscale/auth_key/users/badele
Due: nixpkgs-fmt, docupdate

feat: update badxps computer
  configuration/hosts/badxps/default.nix
  configuration/hosts/badxps/hardware-configuration.nix
  configuration/users/badele/b4d14.nix
  configuration/users/badele/badxps.nix
  configuration/users/badele/commons.nix
  configuration/users/badele/firefox.nix
  configuration/users/badele/hype16.nix
  configuration/users/demo/demovm.nix
  flake.lock
  flake.nix
  nix/home-manager/apps/system/file.nix
  nix/home-manager/features/desktop/apps/development/vscode.nix
  nix/home-manager/features/desktop/apps/fonts.nix
  nix/home-manager/features/desktop/xorg/wm/i3.nix
  nix/home-manager/features/language/javascript.nix
  nix/home-manager/features/term/security/gpg.nix
  nix/home-manager/features/term/security/ssh.nix
  nix/home-manager/features/term/tools/zsh.nix
  nix/nixos/features/system/bluetooth.nix
  nix/nixos/roles/default.nix
  nix/nixos/roles/virtualization.nix
  shell.nix
Due: nixpkgs-fmt

feat: update badxps computer (#48)
  configuration/hosts/badxps/default.nix
  configuration/hosts/badxps/hardware-configuration.nix
  configuration/users/badele/b4d14.nix
  configuration/users/badele/badxps.nix
  configuration/users/badele/commons.nix
  configuration/users/badele/firefox.nix
  configuration/users/badele/hype10.nix
  configuration/users/demo/demovm.nix
  flake.lock
  flake.nix
  nix/home-manager/apps/system/file.nix
  nix/home-manager/features/desktop/apps/development/vscode.nix
  nix/home-manager/features/desktop/apps/fonts.nix
  nix/home-manager/features/desktop/xorg/wm/i3.nix
  nix/home-manager/features/language/javascript.nix
  nix/home-manager/features/term/security/gpg.nix
  nix/home-manager/features/term/security/ssh.nix
  nix/home-manager/features/term/tools/zsh.nix
  nix/nixos/features/system/bluetooth.nix
  nix/nixos/roles/default.nix
  nix/nixos/roles/virtualization.nix
  shell.nix
Due: nixpkgs-fmt

feat: update user PATH
  nix/home-manager/features/term/tools/zsh.nix
Due: nixpkgs-fmt

feat: update user PATH (#49)
  nix/home-manager/features/term/tools/zsh.nix
Due: nixpkgs-fmt

feat: add sponsorblock and popupoff
  configuration/users/badele/firefox.nix
Due: nixpkgs-fmt

feat: add sponsorblock and popupoff (#50)
  configuration/users/badele/firefox.nix
Due: nixpkgs-fmt

feat: update logo
  .gitignore
  docs/imgs/LOGO.md
  docs/imgs/logo.neo
  docs/imgs/nix-homelab-logo.png
Due: none

feat: update logo (#51)
  .gitignore
  docs/imgs/LOGO.md
  docs/imgs/logo.neo
  docs/imgs/nix-homelab-logo.png
Due: none

fix: neotex logo
  docs/imgs/logo.neo
Due: none

fix: neotex logo (#52)
  docs/imgs/logo.neo
Due: none

Update var acme-dns-01/envfile for machine constellation
  vars/per-machine/constellation/acme-dns-01/envfile/secret
Due: none

feat: add X11 nix-ld support
  machines/gagarin/configuration.nix
  nix/nixos/features/commons/packages.nix
Due: nixpkgs-fmt

feat: add X11 nix-ld support (#54)
  machines/gagarin/configuration.nix
  nix/nixos/features/commons/packages.nix
Due: nixpkgs-fmt

feat: enable mise program
  modules/home-manager/shared/default.nix
  nix/home-manager/features/term/base.nix
Due: nixpkgs-fmt

feat: enable mise program (#55)
  modules/home-manager/shared/default.nix
  nix/home-manager/features/term/base.nix
Due: nixpkgs-fmt

feat: add rust tools
  configuration/users/badele/sadhome.nix
  configuration/users/badele/srvhoma.nix
  configuration/users/badele/vm-test.nix
  modules/home-manager/term/apps/neovim.nix
  modules/home-manager/term/development/language/all.nix
  nix/home-manager/apps/editor/neovim.nix
  nix/home-manager/features/language/all.nix
  nix/home-manager/features/language/rust.nix
Due: nixpkgs-fmt

feat: add rust tools (#56)
  configuration/users/badele/sadhome.nix
  configuration/users/badele/srvhoma.nix
  configuration/users/badele/vm-test.nix
  modules/home-manager/term/apps/neovim.nix
  modules/home-manager/term/development/language/all.nix
  nix/home-manager/apps/editor/neovim.nix
  nix/home-manager/features/language/all.nix
  nix/home-manager/features/language/rust.nix
Due: nixpkgs-fmt

feat: add printer tools
  configuration/hosts/badxps/default.nix
  nix/nixos/features/system/printer.nix
Due: nixpkgs-fmt

feat: add printer tools (#57)
  configuration/hosts/badxps/default.nix
  nix/nixos/features/system/printer.nix
Due: nixpkgs-fmt

feat: update latex packages
  modules/home-manager/term/development/language/latex.nix
  nix/home-manager/features/language/latex.nix
  nix/home-manager/features/term/base.nix
Due: nixpkgs-fmt

feat: update latex packages (#58)
  modules/home-manager/term/development/language/latex.nix
  nix/home-manager/features/language/latex.nix
  nix/home-manager/features/term/base.nix
Due: nixpkgs-fmt

feat: add gitgrep user script
  configuration/users/badele/commons.nix
  docs/aider/README.md
  docs/aider/aider.png
  modules/home-manager/term/tools/user-scripts/src/@gitgrep
  nix/home-manager/apps/development/aider.nix
  nix/home-manager/features/desktop/xorg/wm/i3.nix
  nix/home-manager/features/term/tools/user-scripts/default.nix
  nix/home-manager/features/term/tools/user-scripts/src/@claude
  nix/home-manager/features/term/tools/user-scripts/src/@download-nixpkgs-cache-index
  nix/home-manager/features/term/tools/user-scripts/src/@gitgrep
  nix/home-manager/features/term/tools/user-scripts/src/@gpg-backup-keys
  nix/home-manager/features/term/tools/user-scripts/src/@mixer
  nix/home-manager/features/term/tools/user-scripts/src/@navi
  nix/home-manager/features/term/tools/user-scripts/src/@psql-restore
  nix/home-manager/features/term/tools/user-scripts/src/@set-color-scheme-from-image
  nix/home-manager/features/term/tools/user-scripts/src/my-aider
  nix/home-manager/features/term/tools/user-scripts/src/my-aider-models
  nix/home-manager/features/term/tools/zsh.nix
Due: nixpkgs-fmt

feat: add gitgrep user script (#59)
  configuration/users/badele/commons.nix
  docs/aider/README.md
  docs/aider/aider.png
  modules/home-manager/term/tools/user-scripts/src/@gitgrep
  nix/home-manager/apps/development/aider.nix
  nix/home-manager/features/desktop/xorg/wm/i3.nix
  nix/home-manager/features/term/tools/user-scripts/default.nix
  nix/home-manager/features/term/tools/user-scripts/src/@claude
  nix/home-manager/features/term/tools/user-scripts/src/@download-nixpkgs-cache-index
  nix/home-manager/features/term/tools/user-scripts/src/@gitgrep
  nix/home-manager/features/term/tools/user-scripts/src/@gpg-backup-keys
  nix/home-manager/features/term/tools/user-scripts/src/@mixer
  nix/home-manager/features/term/tools/user-scripts/src/@navi
  nix/home-manager/features/term/tools/user-scripts/src/@psql-restore
  nix/home-manager/features/term/tools/user-scripts/src/@set-color-scheme-from-image
  nix/home-manager/features/term/tools/user-scripts/src/my-aider
  nix/home-manager/features/term/tools/user-scripts/src/my-aider-models
  nix/home-manager/features/term/tools/zsh.nix
Due: nixpkgs-fmt

fix: gitgrep
  modules/home-manager/term/tools/user-scripts/src/@gitgrep
  nix/home-manager/features/term/tools/user-scripts/src/@gitgrep
Due: none

fix: gitgrep (#60)
  modules/home-manager/term/tools/user-scripts/src/@gitgrep
  nix/home-manager/features/term/tools/user-scripts/src/@gitgrep
Due: none
