Repository badele/nix-homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, docupdate, check-secrets, deno-fmt, deno-lint

.pre-commit-config.yaml:

repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        language: system
        entry: nixpkgs-fmt
        files: \.nix$
        stages:
          - commit
      - id: docupdate
        name: docupdate
        description: Update documentation.
        language: system
        entry: just doc-update
        stages:
          - commit
        files: ^README\.md$
      - id: check-secrets
        name: check-test-age-public-key
        description: Check test age public key
        language: python
        entry: ./.pre-commit-scripts/check-public-test-age-key.py
        stages:
          - commit
        files: secrets\.yml$
      - id: deno-fmt
        name: deno-fmt
        description: Format deno code with deno fmt.
        language: system
        entry: deno fmt
        stages:
          - commit
        files: \.ts$
      - id: deno-lint
        name: deno-lint
        description: Lint deno code with deno lint.
        language: system
        entry: deno lint
        stages:
          - commit
        files: \.ts$

feat: update
  .sops.yaml
  README.md
  flake.nix
  homelab.json
  hosts/hypea/default.nix
  hosts/hypea/disks.nix
  hosts/hypea/hardware-configuration.nix
  hosts/hypea/secrets.yml
  hosts/hypea/ssh-to-age.txt
  hosts/hypea/ssh_host_ed25519_key.pub
  hosts/hypea/ssh_host_rsa_key.pub
  nix/nixos/features/virtualisation/incus.nix
  users/badele/hypea.nix
  users/root/hypea.nix
Due: nixpkgs-fmt, docupdate, check-secrets

feat: update b4d14 laptop
  hosts/b4d14/default.nix
Due: nixpkgs-fmt

feat: use system wide home-manager
  flake.nix
Due: nixpkgs-fmt

feat: update user configuration
  hosts/b4d14/default.nix
  users/badele/b4d14.nix
Due: nixpkgs-fmt

feat: fix stylix wallpaper
  users/badele/b4d14.nix
Due: nixpkgs-fmt

feat: update flake
  flake.lock
  justfile
  nix/home-manager/features/desktop/apps/fonts.nix
  nix/home-manager/features/term/base.nix
  nix/home-manager/features/term/tools/zsh.nix
  nix/nixos/features/commons/nix.nix
Due: nixpkgs-fmt

Update b4d14 desktop (#4)
  flake.lock
  flake.nix
  hosts/b4d14/default.nix
  justfile
  nix/home-manager/features/desktop/apps/fonts.nix
  nix/home-manager/features/term/base.nix
  nix/home-manager/features/term/tools/zsh.nix
  nix/nixos/features/commons/nix.nix
  users/badele/b4d14.nix
Due: nixpkgs-fmt

feat: add hypervisor(hype16) host
  hosts/hype16/default.nix
  hosts/hype16/disks.nix
  hosts/hype16/hardware-configuration.nix
  hosts/hype16/secrets.yml
  hosts/hype16/ssh-to-age.txt
  hosts/hype16/ssh_host_ed25519_key.pub
  hosts/hype16/ssh_host_rsa_key.pub
  users/badele/hype16.nix
  users/root/hype16.nix
Due: nixpkgs-fmt, check-secrets

feat: add hypervisor(hype16) host (#5)
  hosts/hype16/default.nix
  hosts/hype16/disks.nix
  hosts/hype16/hardware-configuration.nix
  hosts/hype16/secrets.yml
  hosts/hype16/ssh-to-age.txt
  hosts/hype16/ssh_host_ed25519_key.pub
  hosts/hype16/ssh_host_rsa_key.pub
  users/badele/hype16.nix
  users/root/hype16.nix
Due: nixpkgs-fmt, check-secrets

feat: update nix-registry on user environment(homeConfiguration)
  flake.lock
  flake.nix
  nix/home-manager/features/term/base.nix
Due: nixpkgs-fmt

fix: remove duplicate code
  nix/home-manager/features/term/base.nix
Due: nixpkgs-fmt

feat: update nix-registry on user environment(homeConfiguration) (#6)
  flake.lock
  flake.nix
  nix/home-manager/features/term/base.nix
Due: nixpkgs-fmt

feat: remove older config
  .sops.yaml
  README.md
  flake.nix
  homelab.json
  hosts/badxps/default.nix
  hosts/bootstore/default.nix
  hosts/demovm/default.nix
  hosts/root.nix
  hosts/rpi40/default.nix
  hosts/sadhome/default.nix
  hosts/secrets.yml
  hosts/srvhoma/default.nix
  hosts/srvhoma/disks.nix
  hosts/srvhoma/hardware-configuration.nix
  hosts/srvhoma/secrets.yml
  hosts/srvhoma/ssh-to-age.txt
  hosts/srvhoma/ssh_host_ed25519_key.pub
  hosts/srvhoma/ssh_host_rsa_key.pub
  nix/home-manager/features/term/security/ssh.nix
  nix/home-manager/features/term/tools/zsh.nix
  nix/nixos/features/system/containers.nix
  nix/nixos/features/virtualisation/incus.nix
  nix/nixos/roles/default.nix
  shell.nix
  users/badele/badxps.nix
  users/badele/commons.nix
  users/badele/srvhoma.nix
  users/root/srvhoma.nix
Due: nixpkgs-fmt, docupdate, check-secrets

feat: add wireguard VPN client
  flake.nix
  users/badele/b4d14.nix
Due: nixpkgs-fmt

feat: add wireguard VPN client (#7)
  flake.nix
  users/badele/b4d14.nix
Due: nixpkgs-fmt

feat: update b4d14 laptop
  nix/home-manager/apps/cloud/aws.nix
  nix/home-manager/features/term/tools/zsh.nix
  users/badele/b4d14.nix
Due: nixpkgs-fmt

feat: update b4d14 laptop (#8)
  nix/home-manager/apps/cloud/aws.nix
  nix/home-manager/features/term/tools/zsh.nix
  users/badele/b4d14.nix
Due: nixpkgs-fmt

feat: test systemd-nspawn container
  flake.nix
  hosts/hype16/default.nix
  nix/nixos/containers/adguard.nix
  nix/nixos/services/adguard.nix
  nix/nixos/services/traefik.nix
Due: nixpkgs-fmt

feat: update ovs configuration
  hosts/hype16/default.nix
  nix/nixos/containers/adguard.nix
Due: nixpkgs-fmt

feat: add networking apps
  nix/home-manager/apps/networking.nix
  users/badele/badxps.nix
Due: nixpkgs-fmt

feat: add networking apps (#9)
  nix/home-manager/apps/networking.nix
  users/badele/badxps.nix
Due: nixpkgs-fmt

feat: add containers implementation
  .sops.yaml
  README.md
  flake.lock
  flake.nix
  homelab.json
  hosts/bootstore/secrets.yml
  hosts/hype16/default.nix
  hosts/hype16/secrets.yml
  hosts/rpi40/secrets.yml
  hosts/secrets.yml
  hosts/srvhoma/default.nix
  hosts/srvhoma/disks.nix
  hosts/srvhoma/hardware-configuration.nix
  hosts/srvhoma/secrets.yml
  hosts/srvhoma/ssh-to-age.txt
  hosts/srvhoma/ssh_host_ed25519_key.pub
  hosts/srvhoma/ssh_host_rsa_key.pub
  justfile
  nix/nixos/containers/homepage.nix
  nix/nixos/services/adguard.nix
  nix/nixos/services/fail2ban.nix
  nix/nixos/services/traefik.nix
  users/badele/srvhoma.nix
  users/root/srvhoma.nix
Due: nixpkgs-fmt, docupdate, check-secrets

feat: add some apps
  flake.lock
  flake.nix
  hosts/badxps/default.nix
  hosts/bootstore/default.nix
  hosts/demovm/default.nix
  hosts/hype16/default.nix
  hosts/root.nix
  hosts/rpi40/default.nix
  hosts/sadhome/default.nix
  justfile
  nix/home-manager/apps/bluetooth.nix
  nix/home-manager/apps/cad.nix
  nix/home-manager/apps/development/commons.nix
  nix/home-manager/apps/development/internet.nix
  nix/home-manager/apps/development/nix.nix
  nix/home-manager/apps/graphics.nix
  nix/home-manager/apps/networking.nix
  nix/home-manager/apps/system/file.nix
  nix/home-manager/apps/system/performance.nix
  nix/home-manager/apps/tools.nix
  nix/home-manager/features/term/base.nix
  nix/home-manager/features/term/security/ssh.nix
  nix/home-manager/features/term/tools/zsh.nix
  nix/nixos/features/commons/networking.nix
  nix/nixos/features/system/containers.nix
  nix/nixos/features/virtualisation/incus.nix
  shell.nix
  users/badele/b4d14.nix
  users/badele/badxps.nix
  users/badele/commons.nix
  users/badele/hype16.nix
  users/badele/sadhome.nix
  users/badele/vm-test.nix
Due: nixpkgs-fmt

feat: add some apps (#10)
  flake.lock
  flake.nix
  hosts/badxps/default.nix
  hosts/bootstore/default.nix
  hosts/demovm/default.nix
  hosts/hype16/default.nix
  hosts/root.nix
  hosts/rpi40/default.nix
  hosts/sadhome/default.nix
  justfile
  nix/home-manager/apps/bluetooth.nix
  nix/home-manager/apps/cad.nix
  nix/home-manager/apps/development/commons.nix
  nix/home-manager/apps/development/internet.nix
  nix/home-manager/apps/development/nix.nix
  nix/home-manager/apps/graphics.nix
  nix/home-manager/apps/networking.nix
  nix/home-manager/apps/system/file.nix
  nix/home-manager/apps/system/performance.nix
  nix/home-manager/apps/tools.nix
  nix/home-manager/features/term/base.nix
  nix/home-manager/features/term/security/ssh.nix
  nix/home-manager/features/term/tools/zsh.nix
  nix/nixos/features/commons/networking.nix
  nix/nixos/features/system/containers.nix
  nix/nixos/features/virtualisation/incus.nix
  shell.nix
  users/badele/b4d14.nix
  users/badele/badxps.nix
  users/badele/commons.nix
  users/badele/hype16.nix
  users/badele/sadhome.nix
  users/badele/vm-test.nix
Due: nixpkgs-fmt

feat: add chess tools
  nix/home-manager/apps/chess.nix
  users/badele/badxps.nix
Due: nixpkgs-fmt

feat: add chess tools (#11)
  nix/home-manager/apps/chess.nix
  users/badele/badxps.nix
Due: nixpkgs-fmt

feat: test systemd-nspawn container
  flake.nix
  nix/nixos/containers/adguard.nix
  nix/nixos/services/adguard.nix
  nix/nixos/services/traefik.nix
Due: nixpkgs-fmt

feat: update ovs configuration
  nix/nixos/containers/adguard.nix
Due: nixpkgs-fmt

feat: add containers implementation
  .sops.yaml
  README.md
  flake.lock
  flake.nix
  homelab.json
  hosts/bootstore/secrets.yml
  hosts/hype16/secrets.yml
  hosts/rpi40/secrets.yml
  hosts/secrets.yml
  hosts/srvhoma/default.nix
  hosts/srvhoma/disks.nix
  hosts/srvhoma/hardware-configuration.nix
  hosts/srvhoma/secrets.yml
  hosts/srvhoma/ssh-to-age.txt
  hosts/srvhoma/ssh_host_ed25519_key.pub
  hosts/srvhoma/ssh_host_rsa_key.pub
  nix/nixos/containers/homepage.nix
  nix/nixos/services/adguard.nix
  nix/nixos/services/fail2ban.nix
  nix/nixos/services/traefik.nix
  users/badele/srvhoma.nix
  users/root/srvhoma.nix
Due: nixpkgs-fmt, docupdate, check-secrets

feat: backup
  flake.lock
  flake.nix
  homelab.json
  hosts/hype16/default.nix
  nix/nixos/containers/adguard.nix
  nix/nixos/containers/homepage.nix
  nix/nixos/features/commons/default.nix
  nix/nixos/features/commons/networking.nix
  nix/nixos/roles/default.nix
  nix/nixos/services/traefik.nix
  users/badele/hype16.nix
Due: nixpkgs-fmt

feat: backup
  flake.lock
  hosts/hype16/default.nix
  nix/nixos/containers/adguard.nix
  nix/nixos/containers/homepage.nix
Due: nixpkgs-fmt

feat: add nixunits
  flake.lock
  flake.nix
  hosts/badxps/default.nix
Due: nixpkgs-fmt

feat: add nixunits (#12)
  flake.lock
  flake.nix
  hosts/badxps/default.nix
Due: nixpkgs-fmt

feat: disable /etc/hosts
  nix/nixos/features/commons/networking.nix
Due: nixpkgs-fmt

feat: disable /etc/hosts (#13)
  nix/nixos/features/commons/networking.nix
Due: nixpkgs-fmt

feat: backup
  flake.lock
  flake.nix
  homelab.json
  hosts/hype16/default.nix
  nix/nixos/containers/adguard.nix
  nix/nixos/containers/homepage.nix
  nix/nixos/containers/trilium.nix
  nix/nixos/services/traefik.nix
Due: nixpkgs-fmt

feat: add wireguard vpn anonymizer server
  .gitignore
  .sops.yaml
  README.md
  docs/hosts/cab1e/README.md
  flake.nix
  homelab.json
  hosts/README.md
  hosts/badxps/default.nix
  hosts/badxps/secrets.yml
  hosts/cab1e/default.nix
  hosts/cab1e/disks.nix
  hosts/cab1e/hardware-configuration.nix
  hosts/cab1e/secrets.yml
  hosts/cab1e/ssh-to-age.txt
  hosts/cab1e/ssh_host_ed25519_key.pub
  hosts/cab1e/ssh_host_rsa_key.pub
  hosts/secrets.yml
  justfile
  nix/home-manager/commons.nix
  shell.nix
  users/badele/cab1e.nix
  users/root/cab1e.nix
Due: nixpkgs-fmt, docupdate, check-secrets

ci: disable pre-commit github action
  .github/workflows/pre-commit.disable
Due: none

feat: add wireguard vpn anonymizer server (#14)
  .github/workflows/pre-commit.disable
  .gitignore
  .sops.yaml
  README.md
  docs/hosts/cab1e/README.md
  flake.nix
  homelab.json
  hosts/README.md
  hosts/badxps/default.nix
  hosts/badxps/secrets.yml
  hosts/cab1e/default.nix
  hosts/cab1e/disks.nix
  hosts/cab1e/hardware-configuration.nix
  hosts/cab1e/secrets.yml
  hosts/cab1e/ssh-to-age.txt
  hosts/cab1e/ssh_host_ed25519_key.pub
  hosts/cab1e/ssh_host_rsa_key.pub
  hosts/secrets.yml
  justfile
  nix/home-manager/commons.nix
  shell.nix
  users/badele/cab1e.nix
  users/root/cab1e.nix
Due: nixpkgs-fmt, docupdate, check-secrets

feat: add cab1e host, switzerland infomaniak VPN instance
  docs/hosts/cab1e/README.md
  flake.lock
  flake.nix
  hosts/badxps/default.nix
  hosts/badxps/hardware-configuration.nix
  hosts/badxps/services/torrent.nix
  hosts/badxps/wireguard.pub
  hosts/cab1e/default.nix
  hosts/cab1e/hardware-configuration.nix
  hosts/cab1e/wireguard.pub
  nix/home-manager/features/desktop/apps/fonts.nix
  nix/home-manager/features/desktop/apps/qt.nix
  nix/home-manager/features/language/python.nix
  nix/home-manager/features/term/base.nix
  nix/modules/nixos/homelab/default.nix
  nix/modules/nixos/homelab/domain.nix
  nix/modules/nixos/homelab/hosts.nix
  nix/modules/nixos/homelab/networks.nix
  nix/modules/nixos/host.nix
  nix/modules/nixos/qbittorrent-nox.nix
  nix/nixos/features/commons/networking.nix
  nix/nixos/features/commons/packages.nix
  nix/nixos/features/desktop/wm/xorg/lightdm.nix
  nix/nixos/features/homelab/default.nix
  nix/nixos/features/homelab/hosts.nix
  nix/nixos/roles/default.nix
  users/badele/firefox.nix
Due: nixpkgs-fmt
